[2017-03-22 11:22] passy opened #25 "Link to ComponentAsserts JavaDocs"
Once we have JavaDocs, add a link at the end of the unit testing docs (#21).

[2017-03-23 08:12] rspencer01 opened #41 "File title in sample code"
At the moment we have the file name in square brackets as the first line of the sample code in "Getting Started".  Can we get it as some kind of title, separate from code?

[2017-04-05 09:31] passy opened #62 "Fix lint warnings and reenable abortOnError"
Lint doesn't have the highest opinion of us at the moment and we had to disable `abortOnError` as a consequence. Some of the issues are just noise, others are signal.

We should suppress those that we're okay with in code and fix the ones we're not.

This is a good task for new contributors.

[2017-04-12 07:53] emilsjolander opened #63 "Support layout diffing on nested trees with double measurements"
Right now we only cache one measure in DiffNode. This means that if a node is measured twice we still end up measuring as the first of the two measurements won't match the content of DiffNode. We need to store all the measurements a node went through during a layout pass and check them in order.

https://github.com/facebook/litho/blob/master/litho-core/src/main/java/com/facebook/litho/ComponentLif

[2017-04-12 08:02] emilsjolander opened #64 "Disallow any mutation on ComponentLayout.ContainerBuilder after build() was called"
InternalNode#build() (https://github.com/facebook/litho/blob/master/litho-core/src/main/java/com/facebook/litho/InternalNode.java#L1467) just does `return this`, which implies that we can mutate a ComponentLayout.ContainerBuilder's result after calling `build()` on it. Add an internal flag and throw an exception if there is an attempt to mutate it after building the layout.

Point of contact: @mur

[2017-04-12 08:08] emilsjolander opened #65 "Fix touch dispatching to Text when it has View MountSpec sibling that's covering its parent fully"
Consider the following layout:
[code]

Let's consider that `FullBleedPhotoComponent` is a mount spec defined in `FullBleedPhotoComponentSpec` that mounts a view stretching fully to its parent bounds and has click listener. And let's say we need to draw text that has `ClickableSpan` on top of `FullBleedPhotoComponent`. As we can see from the layout definition above the `Text` component is laid out

[2017-04-12 08:10] emilsjolander opened #66 "Add support for borderRadius"
We already have support for specifying border width and border color on a component. Now we would like to have an ability to specify the border radius which will draw curved edges on the component. The API might look like this:

[code]

Or you can specify one value for all edges something like:
[code]

Besides specifying radius in Dip, you should be able to specify it in pixel value, resource attr

[2017-04-12 08:12] emilsjolander opened #67 "Border width is not respected in leaf nodes"
When we set border color and border width on container components (such as Row/Column or any layout spec), it is drawn correctly respecting the boundaries of child items. However, when we set border on a leaf node (such as TextSpec or any mount spec) the border is overlapping with the actual content of that leaf node. Let's see these two cases:

Case 1: This works fine, i.e. the text content is no

[2017-04-12 08:17] emilsjolander opened #68 "Add ability to send imperative commands with new Trigger API"
The Event api gives us the ability for child components to give callback to their parents. However in some cases we have the need for components to trigger actions on their children. The typical example is to issue a `scrollToTop` command on a `Recycler` component.

Let's call this Triggers, i.e. the ability perform imperative commands on mounted views/drawables in a type-safe way. This API would

[2017-04-12 08:51] emilsjolander opened #71 "Create api to acquire Views for measuring"
We need an API for acquiring Views for measuring. This api would allow us to do things like:
[code]

This way we might cache the views by context and thread and make this thread safe and consistent with theming. The acquire being a Component level api could simply call `ComponentLifecycle.createMountContent` under the hood (and create appropriate `LayoutParams`).

Point of contact: @IanChilds

[2017-04-12 08:54] emilsjolander opened #72 "Create TextSpec API for highlighting text with longclick like in Android EditText"
Create a new API in TextSpec to give callback about the text that's highlighted and change highlight text background. This should be similar to how Android EditText handles text selection.

To achieve that first we need to get (x, y) coordinates of a touch event, and then get the start, end offset of the text that's under (x,y).
For the first part we can do something similar as in `TextView`'s `ge

[2017-04-12 08:57] emilsjolander opened #73 "Support setting themable styles on Components"
Right now we only apply styles if the user explicitly sets one in the component's create() method. However, we want to be able to set this in the Component itself so that you can make components automatically gather styles from the theme.

The work here is to automatically get the theme off the context and set the appropriate props on mount items (`Text`, etc) if they are not otherwise overridden.

[2017-04-12 11:18] emilsjolander opened #74 "Post sync state updates instead of immediately starting"
Sync state updates should be posted on the main thread instead of executed immediately.
If a sync state update is triggered while we're executing a layout calculation, then the state update would trigger another layout calculation. We should instead post any sync state updates on the main thread and wait for the current layout calculation to be finished before starting a new one.

### Code pointer

[2017-04-12 11:19] emilsjolander opened #75 "don't do anything If a state is "updated", but it hasn't actually changed"
Don't trigger state updates if the old value and new value of the state is the same.

Two ideas for this:
1. When we have all the `stateUpdates` on the `ComponentTree`, we could call shouldUpdate on each Component and if it is false for all of them, then we should return without calculating a new layout.
2. When we update the value for the state, we could compare it to the old one and if it is the

[2017-04-12 11:22] emilsjolander opened #76 "Don't re-render subtrees who's size don't change on state update"
If we know that the size of a subtree is not changing when we update its state, then we definitely don't need to relayout the whole tree, which should save a lot of work.

We could check for the prefix of the global key of a root and if we don't have any pending state updates for it then just copy everything from the old tree.

### Code pointers
https://github.com/facebook/litho/blob/master/litho-

[2017-04-12 11:23] emilsjolander opened #77 "Recycle StateUpdate objects"
We should have a pool of `StateUpdate` objects instead of allocating a new one for each state update creation. The state update objects don't live past a layout calculation, so we can recycle them then. Each generated lifecycle would need a pool instance types to their specific `StateUpdate` subclass and instead of calling `new StateUpdate()` we would need to acquire / release these objects from /

[2017-04-12 11:24] emilsjolander opened #78 "Use a ComponentContext pool for scoping"
Each `Component` is scoped to a `ComponentContext`. This helps us identify, given a `ComponentContext`, which component we are trying to apply a state update to.
Every time a component gets scoped to a component context, a new component context instance is created and associated with that component.
We should use a `ComponentContext` pool instead of allocating a new `ComponentContext` each time we

[2017-04-12 11:26] emilsjolander opened #79 "Use bit flag instead of booleans in TestDrawableComponent"
We have a lot of booleans to configure the test components like `callsShouldUpdateOnMount` or `implementsAccessibility`. Instead of keeping the configuration flags as booleans we could have them as bit flags.

### Code pointers
https://github.com/facebook/litho/blob/master/litho-testing/src/main/java/com/facebook/litho/testing/TestDrawableComponent.java

Point of contact: @mihaelao

[2017-04-12 12:57] emilsjolander opened #80 "Pass style res to @OnCreateMountContent"
There are Views in Android that only accept some attributes when the view is created and can't be changed after that (e.g. `android:textCursorDrawable` in `EditText`). We need a way to pass down these attribute sets into `@OnCreateMountContent` to allow android widgets to be constructed with them.

### Code pointers
https://github.com/facebook/litho/blob/master/litho-core/src/main/java/com/faceboo

[2017-04-12 13:59] emilsjolander opened #81 "Support prop defaults being resource identifiers"
Currently there is no way to specify the default value of a `ResType` prop using resource ids.

Say you declare a prop like the following
[code]

You would like to be able to declare its default value as being a dimension resource.
[code]

However that currently would not work as it would parse the resource id as an actual size value and not grab the size associated with the id.

This would most l

[2017-04-12 14:02] emilsjolander opened #82 "Components should support setEnabled"
We need a way to specify the `enabled` selector state of a component so that background and foreground drawables can adopt the correct state. This would most likely be another method on the `ComponentLayout.Builder` interface. It would also have to be transfers to the drawables on the component.

### Code pointers
https://github.com/facebook/litho/blob/master/litho-core/src/main/java/com/facebook/

[2017-04-12 14:08] emilsjolander opened #83 "Adding layout attributes to an already measured component doesn't work"
When calling `Layout.create(c, component)` after the component has been measured, it causes the subsequent attribute (including the click handler) to be lost.

What happens is that we end up with two internal nodes for the same components and it doesn't work out well. The problem relates to returning early when we call `LayoutState.collectResults()` and `InternalNode.isNestedTreeHolder()` returns

[2017-04-12 14:42] emilsjolander opened #84 "AccessibilityNodeInfo objects created by Components do not set className"
Debugging accessibility hierarchies for Litho is specially difficult since unless it's explicitly overridden, we'll never set a class name in `onInitializeAccessibilityNodeInfo`, which results in the node being labelled with a generic `View` class name. We should instead figure out a way to report the name of the spec that's being rendered or at the very least default to label the node as `Compone

[2017-04-12 14:45] emilsjolander opened #85 "Expose API for virtual views to LayoutSpecs"
We expose `AccessibilityDelegate` method callbacks in `LayoutSpecs` as event handlers. However, we're missing `getAccessibilityNodeProvider`. Proper implementations of node providers can be very stateful since they need to handle hover callbacks. In order to make this as stateless as possible and play nice with the framework, there are two possibilities:

1.  Do not expose the creation of the `Acc

[2017-04-13 09:48] passy opened #86 "litho-core contains widget resources"
The `widget_attrs.xml` is currently part of `litho-core` but should obviously live in `litho-widget`.

It's not as easy as moving it to the other package and updating the references to `com.facebook.litho.widget.R` as we create another cycle since `litho-testing` depends on some of the styleable attributes defined in there.

We need to find a way to untangle this. Another stand-alone resource pack

[2017-04-13 15:58] emilsjolander opened #87 "Make clipbounds behavior consistent"
We want to align with web behavior here and not clip bounds of any child. Right now since we might have ComponentHosts wrapping MountItems we might end clipping bounds in some cases.
In cases where there a drawable is not wrapped in a ComponentHost on the other hand we don't clip.

Let's get rid of this inconsistency by never clipping bounds within a LithoView.
We might also want to expose an API

[2017-04-17 10:55] lucasr opened #88 "Move ComponentInfo to litho-widgets"
It's an RecyclerBinder API so it should be under litho-widget in the `org.facebook.litho.widget` java package.

Point of contact: @pasqualeanatriello

[2017-04-17 10:57] lucasr opened #89 "Add .component(Component.Builder) variant to ComponentInfo.Builder"
So that we don't force users to explicitly call build() when updating a `RecyclerBinder`.

Point of contact: @pasqualeanatriello

[2017-04-17 11:01] lucasr opened #90 "Add ComponentInfo.Builder variants to (insert|remove|update)ItemAt methods"
To avoid forcing users to explicitly call build() on `ComponentInfo.Builder` every time they update the RecyclerBinder.

Point of contact: @pasqualeanatriello

[2017-04-18 21:10] aaronhe42 opened #94 ""Getting Started" link in README returns 404"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
At [Installation](https://github.com/facebook/litho#installation) section of the README, the getting started link points to `http://fblitho.com/getting-started` which isn't available. Maybe it should be this page: `http://fblitho.com/docs/getting-started`?

[2017-04-18 21:12] IanChilds commented on #94
Thanks for the report. This is fixed by https://github.com/facebook/litho/pull/93

[2017-04-18 21:12] #94 closed

[2017-04-18 21:15] aaronhe42 commented on #94
lol, race condition..

[2017-04-19 04:28] ersin-ertan opened #96 "UnsatisfiedLinkError: dlopen failed"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
`java.lang.UnsatisfiedLinkError: dlopen failed: "/data/data/com.nullcognition.litho/lib-main/libgnustl_shared.so" is 32-bit instead of 64-bit`
Create a project, import all gradle dependencies(uncomment testing dep.), add App application class, change manif

[2017-04-19 07:44] passy commented on #96
@ersin-ertan When are you seeing this error? Does this happen when you run it in Android Studio or with Gradle from the terminal? Could you give some information about the platform you're running this on? Linux, Mac, etc.?

[2017-04-19 08:03] ersin-ertan commented on #96
Mac
Android Studio
E/AndroidRuntime
The app will work if `setContentView(lithoView);` is commented out.

Also, the github landing page and the getting started litho docs code differ but with no semantic difference.

<details>

[code]
</details>

[2017-04-19 09:39] rspencer01 opened #97 "Buck fetch fails for support libraries"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
Buck fetch is unable to download android support libraries.

To repro, run `buck fetch sample`

## Expected Behavior
Buck should fetch binaries.

## Actual Behavior
Buck exits error code 1, with errors
[code]
Buck doctor output:  http://filebin.ca/3JauRmg0

[2017-04-19 09:50] passy commented on #96
@ersin-ertan Thanks for the details! I've never tried to run it on an x86_64 emulator myself. I'm doing that now.

[2017-04-19 09:52] passy commented on #97
@rspencer01 Hi!! 👋

Buck should be able to pick up the dependencies from your local m2-extras repo if you've installed that through the Android SDK manager. Do you have `$ANDROID_HOME/extras/android/m2repository/com/android/support/`?

If that's present, I wonder if there's a environment variable that's missing.

[2017-04-19 10:16] passy commented on #96
@ersin-ertan Thanks for your patience! I have been able to repro this. It seems like we've bundled the wrong architecture of `libgnustl_shared.so` into the last release of Yoga which does the layout.

As a workaround, you can use an x86 (32bit instead of 64bit) emulator for now. Sorry for that, we'll try to fix this as quickly as possible, but it will require a new release of Yoga and Litho.

/cc

[2017-04-19 10:33] passy commented on #96
Quick update: It's not the packaging. During `SoLoader#initImpl` we extract the wrong architecture to `lib-main/`. If you load the app on an x86_64 device and check the files under `/data/user/.../litho-app/lib-main/*.so` they're all `ELF 32-bit LSB shared object` and not 64-bit as they should.

[2017-04-19 10:50] passy commented on #96
@ersin-ertan
It looks like the solution to this problem is actually incredibly boring. @rspencer01 fixed this exact problem and there has been a new release of the library. We did, however, forget to update the references in the tutorials to point to that release.

If you change [this line](https://github.com/ersin-ertan/android-ui/blob/ad2828b03e8799c454af359044b431708b3e4e60/litho/build.gradle#L

[2017-04-19 10:52] rspencer01 commented on #96
I thought this looked familiar! :D

[2017-04-19 11:17] #96 closed

[2017-04-19 12:36] MichaelRocks opened #100 "Sample crashes on startup"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
Install and run `sample` on Nexus 6 with Android 5.0. The application crashes on startup.
[code]

## Expected Behavior
The application doesn't crash.

## Link to Code
No special code is needed. Just `./gradlew :sample:installDebug` on a cloned project.

[2017-04-19 13:07] IanChilds commented on #100
I just did a clone and install and it worked fine for me. Do you have logs that show the actual cause of the crash?

[2017-04-19 13:15] MichaelRocks commented on #100
It works fine on some other devices but on this particular devices the sample crashes and it's 100% reproducible. Unfortunately, I have nothing except these logs in logcat. When I comment out `setContentView()` lines in `DemoListActivity` the sample launches successfully but displays nothing, obviously. I can provide you with more information if you tell me what exactly you want to check.

[2017-04-19 13:25] passy commented on #100
Looks like something goes wrong with the DisplayLists code. I wonder if there's a way for us to repro this with an emulator or if it's completely device-specific.

/cc @pasqualeanatriello

[2017-04-19 13:26] MichaelRocks commented on #100
Here's a [tombstone](https://github.com/facebook/litho/files/934724/tombstone.zip) log from this device.

[2017-04-19 13:34] pasqualeanatriello commented on #100
@passy you are right this is a problem with the DisplayLists code. The logs are saying that we try to create a DisplayList before having a valid GL context. I'll look into it.

[2017-04-19 15:48] rspencer01 commented on #97
Ah, hmm.  Seems like my version installed with the SDK is wrong.  Will see if I can update it.

Even after all this time, buck is doing unexpected things...

[2017-04-19 16:06] dbof10 opened #101 "Sticky overlays first item in DemoListActivity"
- [ ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
Scroll down and scroll up. The star of the first cannot be seen. When the second sticky header hits the top, then scroll down. The first star is visible again
![bug](https://cloud.githubusercontent.com/assets/10725747/25189577/c19c4c08-2553-11e7-9cf8-94fa5

[2017-04-19 18:59] passy commented on #97
@rspencer01 Cool, glad to hear!

[2017-04-19 22:39] jbarr21 opened #102 "Sample app crashes when browsing the view hierarchy in Stetho"
- [X] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
Using an Nexus 6P on Android 7.1.2:
1. `./gradlew :sample:installDebug`
2. Open the sample app, navigate to the Lithography list
3. Connect to Stetho
4. Click the search button in Stetho view hierachy
5. Tap on the first image in the list

## Expected Beha

[2017-04-20 00:31] IanChilds commented on #102
Hi James, thanks for the report. It should now be fixed by https://github.com/facebook/litho/commit/0eb3f21b5d4d39c42913dae0e2608383176f16e4.

[2017-04-20 00:31] #102 closed

[2017-04-20 10:22] pavlospt opened #106 "StickyHeader not visible after scrolling back"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
`Issue:`StickyHeader is not visible after scrolling back.
`Steps to reproduce:`Create a RecyclerBinder and add components that are sticky.

## Expected Behavior
Expect the sticky header to be visible

## Link to Code
Code Available here: [Recycler Spec](ht

[2017-04-20 12:17] passy commented on #100
This should be fixed as off 1bcbe2426d5a708bff7d0fe4bbd50801ec158275.

[2017-04-20 12:17] #100 closed

[2017-04-20 13:07] MichaelRocks commented on #100
@passy Thank you, it works now.

[2017-04-20 16:37] kosiarska opened #108 "NoClassDefFoundError: com/facebook/jni/Countable when load liblib_fb_fbjni.so in Andorid 4.1"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate
i think it might be connected to https://github.com/facebook/yoga/issues/354 but i'm not sure

## Issues and Steps to Reproduce
1. Create new android project.
2. Add dependencies to gradle:
[code]
3. Create simple text component in MainActivity:

[code]
4. Create custom Application class:

[2017-04-20 18:15] passy commented on #108
@kosiarska Yes, that's definitely the same issue as facebook/yoga#354. It's probably best to follow the progress over there as we can't do anything about it on the Litho side.

Thanks for the report! I'll leave it to @emilsjolander if he wants to keep both issues open.

[2017-04-20 18:42] abhimuktheeswarar opened #109 "Add support to convert existing XML layout to run on Litho"
It would be awesome if Litho supports converting existing XML layouts we painstakingly created. We can design our layouts in the XML & preview it in Android Studio layout editor & use it with Litho.

[2017-04-21 03:34] songjian931798 commented on #108
I met this issue!!!

[2017-04-21 05:40] fangasvsass opened #111 "lib class not find com.facebook.litho.widget.Text import com.facebook.litho.widget.Recycler;"
Text  Recycler。。。。。。。。。。

[2017-04-21 09:50] passy commented on #111
@fangasvsass Could you please use the issue template we provide and give us some more information? This is unfortunately not enough for any of us to help you with your issue.

[2017-04-21 09:50] #111 closed

[2017-04-21 12:28] kebbbnnn commented on #108
encountered this issue too on my android 4.2.2 device

[2017-04-21 19:11] jimfb opened #113 "Bug with headers in stock sample/demo"
- [ ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
1.  Star the sample app.
2.  Scroll down until the article on Gaston Marichal (under 1830) is half-way off screen.
3.  Scroll back up a little bit, so the date changes to 1810.
4.  Observe the 1830 header is not detaching from the fixed header and is not b

[2017-04-21 19:13] jimfb commented on #113
Eeh, looks like a duplicate of https://github.com/facebook/litho/issues/106, although for a different demo.  I'll close it for now.  Feel free to reopen if you'd like to track the two demos separately.

[2017-04-21 19:13] #113 closed

[2017-04-21 21:01] agrosner opened #114 "Kotlin LayoutSpec files not found by the Processor"
- [X] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
I have a simple `LayoutSpec` that returns a single `Text` item. Defining it in Kotlin:
[code]
Nothing gets generated. No `CurrentWeatherTopLayout` file created. If I create the same code in Java, it gets generated:

[code]

## Expected Behavior
I'd expect

[2017-04-21 21:57] grandstaish commented on #114
Are you using kapt3 or legacy kapt? I'm not certain, but I don't think legacy kapt will work with litho.

[2017-04-21 23:19] agrosner commented on #114
looks like legacy KAPT. Is there a reason why legacy won't work? Its strange that java files work in kapt but not Kotlin files.

[2017-04-21 23:36] grandstaish commented on #114
Legacy kapt used to convert kotlin code into stub class files, which in turn were run through the annotation processing tool. One of the (many) limitations of this idea is that class files don't have any information about method parameter names, which this library depends on. Lots of information in this article: https://medium.com/@workingkills/pushing-the-limits-of-kotlin-annotation-processing-86

[2017-04-22 00:13] agrosner commented on #114
ok. now that would make a lot more sense. would it be possible to add this in the getting started docs or somewhere else so it's clear? Thank you!

[2017-04-22 07:23] passy opened #118 "Clarify necessary setup in `using-components`"
As @jimfb pointed out, [the docs](https://github.com/facebook/litho/commit/fc8b6a9f7f02dfab8c82c21755e24334f33f0a51#commitcomment-21864271) are currently unclear about the required parts when instantiating Components.

We should clarify this.

[2017-04-22 11:30] grandstaish opened #119 "Proposal to change component DI approach"
The annotation processor currently has hidden support for dependency injection through [DependencyInjectionHelper](https://github.com/facebook/litho/blob/master/litho-processor/src/main/java/com/facebook/litho/specmodels/model/DependencyInjectionHelper.java).

Because of this implementation detail, the generated component classes instantiate the specs object in the generated code, e.g.:

[code]

T

[2017-04-22 22:16] passy commented on #114
I have yet to try using Litho with Kotlin. If you want to start some docs on how to do it, we'd certainly love to include it.

[2017-04-22 22:18] passy commented on #119
/cc @IanChilds

[2017-04-23 12:17] pavlospt commented on #118
@passy I think that he is referring to `two things`, because the updated version of the docs has the `ComponentTree` removed and keeps only the `ComponentView`.

If you rephrase it like `...you'll need a [ComponentView]...`, I guess it will be just fine!

[2017-04-23 13:55] pavlospt opened #125 "Support Elevation property on Components"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
Add elevation to a Component without the need of wrapping it on a CardSpec which supports elevation.

## Expected Behavior
Able to add elevation to a Component.

## Link to Code
https://github.com/pavlospt/litho-playground/blob/master/app/src/main/java/com

[2017-04-24 00:15] code-mc opened #126 "Image bounds rendered incorrectly"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
Use the following code inside `@OnCreateLayout`:

[code]

FYI: Adding `alignItems(YogaAlign.STRETCH)` and/or `alignContent(YogaAlign.STRETCH)` does not change the result in any way.

The following image is what is rendered on device:

![](http://i.imgur.co

[2017-04-24 00:27] code-mc commented on #126
Just skimmed through the documentation again and noticed I didn't see the `.withLayout()` before. Adding that and following it with a `.flexGrow(1)` solved the render issue.

[2017-04-24 00:27] #126 closed

[2017-04-24 07:58] doublechina opened #128 "I use Huawei mobile phones,Android 4.2.2and 7.0 are crash"
I use Huawei mobile phones,Android  4.2.2and 7.0 are crash

build.gradle
` // Litho
    compile 'com.facebook.litho:litho-core:0.2.0'
    compile 'com.facebook.litho:litho-widget:0.2.0'
    provided 'com.facebook.litho:litho-annotations:0.2.0'
    annotationProcessor 'com.facebook.litho:litho-processor:0.2.0'
    // SoLoader
    compile 'com.facebook.soloader:soloader:0.2.0'
    // Optional
    //

[2017-04-24 08:27] IanChilds commented on #128
Hi. Please can you use the template for your issue: https://github.com/facebook/litho/blob/master/CONTRIBUTING.md#issues
Unfortunately it will not be possible to debug this without the logcat of the crash.

[2017-04-24 10:52] zondaOf2012 opened #129 "Can I use Litho create a TextureView ?"
## Video Item
 I want to achieve that developing a RecyclerView with video playing function .

[2017-04-24 11:50] sockeqwe opened #130 "[Proposal] Make Components android independent POJO's for better testability"
I was wondering if the way how Litho works right now could be slightly changed so that components could be instantiated without any Android dependencies (i.e. no context etc).

Something like

[code]

So  components would be just POJOs describing how the UI should look like. Then `LithoView` could render this POJOs to real UI widgets (using android dependencies like context etc.)

I think this wou

[2017-04-24 12:17] rayevg commented on #129
You can use `ViewCompatComponent` for this.

[2017-04-24 12:57] passy commented on #130
I've actually been thinking about this too. My thought so far was to have a MockContext that would alleviate the need for Robolectric or a full instrumentation test, but having a way to leave out the contexts altogether would be even better.

I'm not sure if that would work once we'd want to test anything related to state because I think there's some stuff happening in `ComponentContext` to enable

[2017-04-24 12:58] muraziz commented on #129
You can use @MountSpec to mount `TextureView` as described in the [documentation](http://fblitho.com/docs/mount-specs). Please let us know if you find issues with that.

[2017-04-24 12:59] #129 closed

[2017-04-24 13:07] sockeqwe commented on #130
I'm not 100% sure, but after taking a quick look at the source code of a generated Component it seems that `context` is mostly used to access android resources. I think this could be done lazily so that no `context` is needed at all in the component POJO. Wouldn't it be possible to do that lazily when `LithoView` starts to build the actual UI widgets? To me (without any deep knowledge of Litho int

[2017-04-24 13:24] barontxu opened #131 "Fix crash when using litho on Android Wear following Getting-Started tutorial"
- [yes] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
start a new android wear project and add litho dependency as tutorial do.

## Expected Behavior
 hello world !

## Link to Code
the sample code in http://fblitho.com/docs/getting-started, apply to a brand new android wear project produced by android stud

[2017-04-24 13:46] muraziz commented on #131
Hi!
Could you give us more details what exactly is not working and give some logcat outputs so that we can debug it?

[2017-04-24 13:52] mihaelao commented on #130
Hey @sockeqwe, right now the component context is also holding on to information that is needed to perform state updates. Check out these lines: https://github.com/facebook/litho/blob/master/litho-core/src/main/java/com/facebook/litho/ComponentContext.java#L103#L127. We thought about holding onto that information in a separate object, but that would have introduced a new concept in the API and we

[2017-04-24 14:04] passy commented on #130
Thanks @mihaelao! I think the closest we can get to this to enable easier testing is by having a `MockComponentContext` or similar which can be initialized without access to a real underlying Android `Context`. We could probably keep the state update logic around in there.

Having something like "stateless" Components similar to how they exist in React may also be something fun to think about for

[2017-04-24 14:33] barontxu commented on #131
@muraziz hello!
sorry I don't have my develop Mac around me, but I still remember the build is quite success, but when apply apk to watch, it crash with a java.lang.no static method exception : No static method newAccessibilityStateChangeListener.

[2017-04-24 14:39] barontxu commented on #131
.*quite successful .* I mean...
And no static method exception is the only error, caused by
final LithoView lithoView = LithoView.create(
    	this /* context */,
    	Text.create(c)
            .text("Hello, World!")
            .textSizeDip(50)
            .build());

[2017-04-24 14:49] anu0012 commented on #79
Hey @emilsjolander, I want to take up this issue. Can you guide me? Do we need to use bit flags just like it is used in InternalNode.java file?

https://github.com/facebook/litho/blob/master/litho-core/src/main/java/com/facebook/litho/InternalNode.java

[2017-04-24 14:52] emilsjolander commented on #79
Awesome! Yes I believe so. Will delegate specifics to @mihaelao who is the POC for this issue 👍  She should be able to provide more specific guidance.

[2017-04-24 15:28] anu0012 commented on #79
Hey @mihaelao, I have some doubt regarding this issue. Do we also need to change the return types of methods like callsShouldUpdateOnMount() etc?

[2017-04-24 15:40] emilsjolander opened #132 "Move yogaNode.setOverflow(YogaOverflow.HIDDEN); out of InternalNode.init()"
Currently we call `yogaNode.setOverflow(YogaOverflow.HIDDEN);` from `InternalNode` on every call to `init()` this is an expensive JNI call and should only be done once per node instance when it is created within `ComponentPools`.

## Code pointers
https://github.com/facebook/litho/blob/master/litho-core/src/main/java/com/facebook/litho/InternalNode.java#L193

https://github.com/facebook/litho/blob

[2017-04-24 15:44] mihaelao commented on #79
Hi @anu0012, thanks for taking this up! You're right, the idea is to use bit flags instead of booleans, same as for InternalNode. The API shouldn't change though, those methods should still return booleans, but you can perform bitwise operations on the flags instead of returning the booleans directly.

[2017-04-24 15:45] emilsjolander opened #133 "Add individual pools for container directions to save JNI calls"
To save on JNI calls when acquiring a yoga node from a pool we can pool nodes based on their flex direction. This task requires making some changes to the Yoga api for resetting node values so that we can reset all values except the flex direction. https://github.com/facebook/yoga

## Code pointers
https://github.com/facebook/litho/blob/master/litho-core/src/main/java/com/facebook/litho/Components

[2017-04-24 16:11] paveldudka opened #134 "Make ComponentContext hidden"
Right now we need to create `ComponentContext` manually when using Litho. It seems like ComponentContext has little value outside of framework, so does it make sense to make it an implementation detail and make clients pass `android.Content.Context` instead? It can be wrapped into `ComponentContext` internally.
[code]

[2017-04-24 16:48] passy commented on #134
I think this is mostly needed to allow for state updates.

/cc @mihaelao

[2017-04-24 17:00] mihaelao commented on #134
Hi @paveldudka, I agree that making that an implementation detail would be nice, but we can't do it with the current implementation of state updates. The ComponentContext holds on to information that is used for state updates, such as the unique keys of components, and it needs to be propagated throughout the ComponentTree hierarchy from parent to children components to ensure that state updates w

[2017-04-25 01:03] doublechina commented on #128
This is my debug crash log:
[code]

[2017-04-25 01:39] barontxu commented on #131
@muraziz
this is the error logcat
04-24 21:21:16.197 27740-27740/com.example.tanisxu.lithotest E/AndroidRuntime: FATAL EXCEPTION: main
                                                                               Process: com.example.tanisxu.lithotest, PID: 27740
                                                                               java.lang.NoSuchMethodError: No static method newAccessi

[2017-04-25 01:41] barontxu commented on #131
@muraziz and the project https://github.com/barontxu/lithotest

[2017-04-25 02:06] barontxu commented on #131
it crashes when lauching the app.

[2017-04-25 02:07] barontxu commented on #131
It's weird even sample in litho crashes when building.

Error message is:
10:03:55.753 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter]
10:03:55.753 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter] FAILURE: Build failed with an exception.
10:03:55.753 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter]
10:03:55.753 [ERROR] [org.gradle.internal.buildeven

[2017-04-25 02:22] barontxu commented on #131
What's more, there's a "Error:Conflict with dependency 'com.google.code.findbugs:jsr305' in project ':app'. Resolved versions for app (2.0.1) and test app (3.0.1) differ. See http://g.co/androidstudio/app-test-app-conflict for details."when apply litho to gradle, is that a common problem?

[2017-04-25 02:44] barontxu commented on #131
And on android phone everything works fine.

[2017-04-25 03:14] barontxu commented on #131
it finally works after adding

compile 'com.android.support:appcompat-v7:25.3.1'
compile 'com.android.support.constraint:constraint-layout:1.0.2'

in gradle.
But still wondering why this occurs.....

[2017-04-25 03:16] barontxu commented on #131
And in gradle there's a error:
all-com-android-support-libraries-must-use-the-exact-same-version
The ide said i'm mixing 25.3. and 23.0.1 and sth else, it might be the source lead to the runtime crash.

[2017-04-25 03:49] barontxu commented on #131
adding compile 'com.android.support:appcompat-v7:25.3.1' works great but gradle still pop an error to warn me not to using percent 23.0.1 which i have no idea what it is.

[2017-04-25 08:15] IanChilds commented on #128
This is the same as #108

[2017-04-25 08:15] #128 closed

[2017-04-25 09:13] muraziz commented on #131
@barontxu Thanks for reporting! Now I can repro the issue, I'll take a look at it.

[2017-04-25 10:30] emilsjolander commented on #132
Done. Code is in Yoga and should be synced over soon.

[2017-04-25 10:30] #132 closed

[2017-04-25 15:25] muraziz opened #136 "Always wrap drawables that support displaylist precomputing with `DisplayListDrawable` instead of wrapping it only when we precomputed it."
Currently we wrap `TextDrawable` which supports display list precomputing with `DisplayListDrawable` only when we have precomputed display list and other times we use `TextDrawable` directly. This might lead to obscure bugs when some property set to original `TextDrawable` is not reflected on `DisplayListDrawable`.

### Code pointers
- https://github.com/facebook/litho/blob/master/litho-core/src/m

[2017-04-25 15:31] muraziz opened #137 "Return null when creating display list instances for new Android versions for which we don't have implementation yet"
Currently for new versions of Android for which we don't have implementation we use previous version implementations when creating display list instances. That is not optimal because the API or behavior might change in new versions, therefore we should return null for new versions until we have proper implementation.

### Code pointers
- https://github.com/facebook/litho/blob/master/litho-core/src

[2017-04-25 16:01] droidkid commented on #64
Hey, was wondering why InternalNode implements both ComponentLayout and ComponentLayout.Builder. Is there any specific reason for this?

Would it make more sense to have one of those classes implemented as a inner/nested class of InternalNode?

If ComponentLayout was a implemented as a inner class, InternalNode.build() could return a new instance of the inner class. The returned object would be im

[2017-04-25 16:04] emilsjolander commented on #64
As long as we pool and recycle the builder as well as the bested object I think that would be fine. "Locking" the object when it is built is probably much easier to implement though and serves the same purpose as the InternalNode is not a public class.

[2017-04-25 20:53] droidkid commented on #64
Having a new inner class might be troublesome as ComponentLayout is casted to InternalNode ComponentContext,LayoutState and I'm guessing in a few more places.

Once InternalNode.build() is called, only mutate methods part of ComponentLayout.Builder interface methods should throw an exception right?

For example, in ComponentContext.createLayout, appendComponent() is called on an InternalNode (whic

[2017-04-26 03:44] zondaOf2012 opened #139 "Can you tell me why FeedItemComponentSpec use Recycler ?"
Hello,I can't understand what image need RecyclerBinder in the sample.
***[FeedItemComponentSpec](https://github.com/facebook/litho/blob/master/sample/src/main/java/com/facebook/samples/litho/lithography/FeedItemComponentSpec.java) lines 38 ~ 45***
Who can help me to solve it?

[2017-04-26 07:26] barontxu opened #140 "Failure when install samples"
- [yes ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
Run ./gradlew :sample:installDebug in litho project which is parent directory of samples.

## Expected Behavior
build success.

## Link to Code
https://github.com/facebook/litho/tree/master/sample

##error message
FAILURE: Build failed with an exception

[2017-04-26 07:42] barontxu opened #141 "Is there anything like gridViewPager or snapHelper in origin android sdk?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Link to Code
https://developer.android.com/reference/android/support/v7/widget/RecyclerView.html
https://developer.android.com/reference/android/support/wearable/view/GridViewPager.html
https://developer.android.com/reference/android/support/v7/widget/SnapHelper.html

[2017-04-26 08:16] #134 closed

[2017-04-26 08:52] barontxu commented on #141
Or is there anything that can listen to fling or scroll in recycleView?

[2017-04-26 09:16] #140 closed

[2017-04-26 10:08] emilsjolander commented on #108
@kosiarska I've re-opened  facebook/yoga#354. Investigating now.

[2017-04-26 10:10] muraziz commented on #139
Hi @zondaOf2012, if you noticed in the sample app, for some images there you can scroll horizontally. If there is more than 1 image then instead of creating `SingleImageComponent` the horizontal RecyclerView is created by the binder that's passed as prop.

[2017-04-26 10:21] muraziz commented on #141
Hi @barontxu, currently we don't support snapping in `RecyclerSpec`, but you can listen scroll events by providing `onScrollListener` prop like this (which will cover fling as well):
[code]

[2017-04-26 10:21] #141 closed

[2017-04-26 10:24] barontxu commented on #141
@muraziz thanks, im using RecyclerEventsController, but seems OnScrollListener is better.
By the way, is there a better tutorial or docs for litho?Im tired struggling in ocean of http://fblitho.com/javadoc/.

[2017-04-26 10:29] muraziz commented on #141
@barontxu you can use http://fblitho.com/docs/getting-started.html for high-level overview, http://fblitho.com/docs/recycler-component for `Recycler` component and http://fblitho.com/docs/tutorial for barebones tutorial.

[2017-04-26 10:37] barontxu commented on #141
@muraziz I've read them all.But when I facing problem like how can I get a image view, or how animation runs in this framework, or where can I get full functions of recycler etc, I have no idea which doc to turn to except reading http://fblitho.com/javadoc/. line by line.Maybe I missed something like important docs or sample, but i feel really tired develop a custom app using litho.Not like develo

[2017-04-26 10:43] barontxu commented on #141
@muraziz and in http://fblitho.com/docs/inc-mount there'are lot of meaningless href, like
in http://fblitho.com/docs/inc-mount,  incremental mount leads to the homepage which i can't understand.

[2017-04-26 10:46] muraziz commented on #141
Hey @barontxu, for creating image component you don't need a `View`, but you can use `Image` component as in example in http://fblitho.com/docs/best-practices. Currently we are working on animation support but it is not ready for use yet. Sorry for your experience, we just open-sourced the framework a week ago and there are lots of things that should be done to make documentation more extensive. T

[2017-04-26 12:43] barontxu commented on #141
@muraziz Thanks! And I didn't realize it's only been 7days since opened. Hope more people will use it and soon there's better docs.

[2017-04-26 15:35] muraziz commented on #79
Resolved with https://github.com/facebook/litho/issues/138

[2017-04-26 15:35] #79 closed

[2017-04-26 16:07] emilsjolander commented on #108
https://github.com/facebook/yoga/commit/76f6a54327837bd1d791528409b9b0704e37bb76 should fix it. I'll create a new release on friday

[2017-04-26 16:17] #139 closed

[2017-04-27 02:48] zondaOf2012 commented on #139
@muraziz Thank you so much

[2017-04-27 04:00] barontxu commented on #141
By the way @muraziz , in http://fblitho.com/docs/best-practices, image setting code:
Image.create(c)
              .src(image)
doesn't work, seems src not a builder.Maybe we should use drawable instead.

[2017-04-27 06:11] marwanf1 opened #143 "Add support for SnapHelpers on RecyclerSpec"
Can you add support for SnapHelper on the Recycler component? Looking at the implementation it could be added as an optional prop on the RecyclerSpec. This also helps if developers want the Recycler to have ViewPager scrolling behavior which can be achieved by adding a PagerSnapHelper.

I couldn't find a way to implement this in the current Litho release.

[2017-04-27 06:16] xingxingxiaoyu opened #144 "Can you give me a URL to study how to use ? I'm Chinese and I can't access the URL "http://fblitho.com/docs/getting-started""
- [ ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue.***

## Expected Behavior
***Describe what you expected would happen.***

## Link to Code
***Please show some code we can use to reproduce this issue. Consider using [PlaygroundComponentSpec](https://github.c

[2017-04-27 06:32] passy commented on #144
@xingxingxiaoyu I'm sorry you're having trouble accessing the website. The documentation is also part of the repo here. You can check out https://github.com/facebook/litho/tree/master/docs for information on how to build the documentation yourself on your machine.

The sources for the getting started page is available here: https://github.com/facebook/litho/tree/master/docs/_docs/getting-started

[2017-04-27 06:32] #144 closed

[2017-04-27 06:49] xingxingxiaoyu commented on #144
I get,and thank you.Lucky!

[2017-04-27 08:37] IanChilds commented on #141
Hey, @barontxu, good spot. This is my fault as I changed the API without updating the docs. Sorry about that!

[2017-04-27 08:48] barontxu commented on #141
hello @IanChilds , nice to see you (a guy who seems like developing the widget part or sth like that) ! Could you plz give us some more valuable samples for example, your testcase for the widgets?It's a real struggle diving straightly into your source code and guessing by variable name which sometimes a hard-to-complete job.

[2017-04-27 09:30] barontxu commented on #141
@muraziz @IanChilds man is there any method I can turn Fling off in RecyclerView(I mean your component Recyler)?

[2017-04-27 09:34] zondaOf2012 opened #145 "Image.create(c).drawableRes seems to block UI thread."
I use litho to create layout，like this:
![image](https://cloud.githubusercontent.com/assets/3021796/25477138/127fd1f0-2b6f-11e7-8588-6396d9d7be36.png)
I found Image.drawableRes seems to block UI thread. [This](https://github.com/zondaOf2012/LithoSample/blob/master/my_study_litho/src/main/java/zonda/exercise/litho/postlist/ImagesComponentSpec.java) is my code.

[2017-04-27 09:56] muraziz commented on #141
@barontxu Do you mean turning off flinging completely and scroll items only by dragging by touch? That would look quite unnatural. We don't support that. I'm not sure even `RecyclerView` supports that easily.

[2017-04-27 09:57] barontxu commented on #141
@muraziz I mean customize my own FlingListener.

[2017-04-27 09:58] barontxu commented on #141
RecyclerView  supports that and all you have to do is to override fling by a empty function.

[2017-04-27 10:00] muraziz commented on #145
Hi @zondaOf2012, I've seen the code. Why do you think it is blocking UI thread? Can you give more details of your finding?

[2017-04-27 10:07] muraziz commented on #141
You can use `onScrollListener` prop of `Recycler` component where you pass `RecyclerView.OnScrollListener`. That will cover both touch dragging and fling, like this:
[code]

[2017-04-27 10:12] barontxu commented on #141
@muraziz Thanks and I know how to use onScrollListener, BUT what if I want my app can and only can swipe one page each time? That's why  I ask for a flingListener.

[2017-04-27 10:14] barontxu commented on #141
And I found a way to hack it. I can inherit a Recycler and override onBind() where I can get a recyclerViewWrapper.What do you think about it? Could it work? Should I do it this way? Or is there any safety issues?

[2017-04-27 11:59] zondaOf2012 commented on #145
Hi @muraziz
The scenario is as follows:
&emsp;&emsp;On starting the activity, I find activity is delay launching. When I commented [it's](https://github.com/zondaOf2012/LithoSample/blob/master/my_study_litho/src/main/java/zonda/exercise/litho/postlist/PostListItemComponentSpec.java) ***48 ~ 51 lines*** out , starting activity to accelerate significantly. So I doubted it. Besides, I use Android's L

[2017-04-27 12:34] muraziz commented on #145
@zondaOf2012 can you post systrace of android version and litho version so that we can see what's happening there?

[2017-04-28 03:16] zondaOf2012 commented on #145
Hi, @muraziz
I'm sorry I was so careless, android version has the questions too. This is due to the picture is so big.

[2017-04-28 03:16] #145 closed

[2017-04-28 05:04] barontxu commented on #141
@IanChilds @muraziz I've hacked my way in to implement a page listener, so if you don't think adding flingListener or snap is a good idea, fine. But I'm facing another problem that how can I customize a expandView and grab all the touch event until unfold.It's kind of tough writing this piece of code without a tutorial or document and just depend on the api name and guessing.

[2017-04-28 05:13] barontxu commented on #143
Man you have to hack since they haven't add support and don't want developers get recyclerView easily. See this project below, hope it'll solve your problem.
https://github.com/barontxu/litho_snaphelper

[2017-04-28 05:14] barontxu commented on #143
Sorry I do a "add ." without editing gitignore.

[2017-04-28 05:34] marwanf1 commented on #143
@barontxu thanks man that's a good solution. It's just weird that something like ViewPager is not part of Litho although it's a widely used component.

Thanks for the help.

[2017-04-28 06:24] barontxu commented on #141
Or it's there someway to replace a component with another dynamically?

[2017-04-28 06:43] barontxu opened #146 "How can I customize a expandView and grab all the touch event until unfold"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
read tutorials and docs, and can't find anything about replacing component dynamically.

## Expected Behavior
found something like expandCardView or some methods that can replace view or component dynamically.

## Link to Code

[2017-04-28 06:53] barontxu opened #147 "Codes in http://fblitho.com/docs/best-practices not work"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
follow http://fblitho.com/docs/best-practices

## Expected Behavior
works fine.

## Link to Code
http://fblitho.com/docs/best-practices

[2017-04-28 06:55] barontxu commented on #147
It may only takes like 5minutes for you to fix it, but it's been 22hours.
Don't treat your open source project like trash.

[2017-04-28 06:57] barontxu opened #148 "Lots of meaningless href in http://fblitho.com"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
 http://fblitho.com/docs/inc-mount and click href

## Expected Behavior
Redirect to some page meaningful.

## Link to Code

[2017-04-28 08:55] emilsjolander commented on #147
Hi @barontxu we don't appreciate the tone of your comment. We are not here to serve the community but rather work with it. Also your issue does not state how the code is broken. Either file a new issue with more detailed information or work with us to fix it by submitting a pull request.

[2017-04-28 08:55] #147 closed

[2017-04-28 09:00] barontxu commented on #147
@emilsjolander I apologize if i use a wrong expression.And I know you're  not here to serve the community, but I think at least you should make codes in tutorial right.

[2017-04-28 09:01] barontxu commented on #147
@emilsjolander But I resist your tutorial and docs are not in state a open-source project should be .

[2017-04-28 09:15] muraziz commented on #148
The title and description are neither constructive nor useful. We can handle the issue after getting more detailed description of the issue.

[2017-04-28 09:15] #148 closed

[2017-04-28 09:25] barontxu commented on #148
@muraziz sorry for the short description.I'll make it more clear.

[2017-04-28 09:29] barontxu opened #149 "Lots of meaningless href in http://fblitho.com"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
In http://fblitho.com there're some href direct user into unexpected page.
For example, in http://fblitho.com/docs/inc-mount, when you click  "incremental mount", it shows the homepage.And there's some more, hope you take sometime to take a examination thr

[2017-04-28 09:31] barontxu opened #150 "Codes in http://fblitho.com/docs/best-practices not work"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
follow the only piece of code inhttp://fblitho.com/docs/best-practices.TYPE it in android studio(you'll find there's no such method in image) or some place and build a project.

## Expected Behavior
Success.

## Link to Code
@LayoutSpec
class MyComponentSp

[2017-04-28 14:37] #118 closed

[2017-04-28 14:45] passy commented on #150
@barontxu Could you please provide the full error message you see when trying to compile the example code?

[2017-04-28 14:47] passy commented on #149
The incremental mount link is a good find. You say "lots of", do you have other examples? I can assure you that we have spent a lot of time writing those docs, and we appreciate feedback on how to improve it.

[2017-04-28 14:47] pavlospt commented on #150
@barontxu Have you added the needed `annotationProcessor` dependency ?

[2017-04-28 14:49] IanChilds commented on #150
We just need to change `.src` to `.drawable`, I believe? Is there anything else wrong?

[2017-04-28 14:49] passy commented on #146
Sorry @barontxu, but this is not enough context to provide you with meaningful help. If you still have this issue, can you please reopen this with example code and/or a clearer definition of what you're trying to achieve?

[2017-04-28 14:49] #146 closed

[2017-04-28 14:50] IanChilds commented on #149
A lot of these are fixed in pending pull requests from @jimfb. Unfortunately, he's having some trouble with signing the CLA so we're still having to wait for that to get sorted out.

[2017-04-28 14:50] IanChilds commented on #149
e.g. https://github.com/facebook/litho/pull/123

[2017-04-28 17:34] ubuntudroid commented on #114
@grandstaish According to #119 it seems you got Litho to work with Kotlin. For some reason I'm running into the same problem like @agrosner meaning nothing gets generated. Would you mind setting up an example project so that we can compare our configurations?

[2017-04-28 18:02] ubuntudroid commented on #114
Okay, got it working as well. I created a minimalistic project on Github pointing out Kotlin specific adaptions: https://github.com/ubuntudroid/litho-kotlin.

[2017-04-28 20:39] brian98point6 opened #151 "ClassCastException during annotation processing, triggered by package-level annotations"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
At build time annotation processing, the Litho AbstractComponentsProcessor runs into a ClassCastException. Here is a partial stack trace:
[code]
Here is the relevant line of code:
https://github.com/facebook/litho/blob/cbbd4e26129e45ab6e43bb70473a2f8a65d60

[2017-04-28 21:40] passy commented on #151
Oh that's an interesting one. Thanks for reporting!

/cc @IanChilds

[2017-04-28 22:10] byronanderson opened #152 "How to support Drag/Drop of items?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

I know this doesn't fit into the guidelines for an *issue* but I didn't see a message board for generic questions.  Feel free to close given this breach of etiquette.

I'm having difficulty integrating this into a list where we want to support drag/drop interaction ->

As an example:  A l

[2017-04-28 22:15] lucasr commented on #152
cc @pasqualeanatriello

[2017-04-29 10:22] ubuntudroid opened #153 "Optimized component lifecycle builders for Kotlin"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

I've played around a bit with Litho in conjunction with Kotlin: https://github.com/ubuntudroid/litho-kotlin

In a follow-up discussion with @lucasr on twitter we discovered, that a kotlin-litho-processor (used as a dependency instead of the already existing litho-processor) could help mak

[2017-04-29 13:11] lenguyenthanh opened #154 "Couldn't install sample app"
- [ x ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
* Run `./gradlew :sample:installDebug` It failed with
[code]

* Run `buck install -r sample` it was installed but crashed immediately. Here is stacktracke:
[code]

## Expected Behavior
App is installed success and works well.

## Link to Code
There is no

[2017-04-29 15:04] code-mc opened #155 "`imeOptions` is missing from `EditTextSpec`"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
The litho API currently does not support setting the input type on an EditText widget, this is a rather important feature. Android supports following input types https://developer.android.com/reference/android/text/InputType.html

Also, `imeOptions` is uns

[2017-04-29 16:34] passy commented on #154
Circle CI Is red for the same reason.

cc @Em

[2017-04-29 23:05] newfivefour commented on #152
I'd like something similar.

Specifically, I want to fire an event on dragging downwards on a component.

I can currently react when there's a short press and a long press. But nothing else.

Is it possible to expose the inner Android event? That way I could analyse the Android event for downward dragging and then fire a Litho event.

Am I missing something?

[2017-04-30 15:47] newfivefour commented on #152
Here's the code to put in `onTouch` above to allow dragging. There's no drop area support in the code sample but it should be easy to implement.
[code]

[2017-04-30 16:18] newfivefour opened #156 "How to request a redraw on prop/state update?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce

Give a component a prop which is created from a singleton object.

I.e. `MyComponent.create(c).athing(MyData.instance()).build()`

Which is then used to display some text,

[code]

And then in an onClick method update the singleton i.e:

`MyData.instance(

[2017-04-30 17:52] Tomasu opened #157 "Feature Req: Real time preview"
Not a bug, but I find real time preview in IDEs very helpful, so something that worked in Android Studio with Litho would be very cool.

[2017-05-01 17:32] newfivefour commented on #156
I now understand I must use an event.

I have done this. The child component calls an event which is handle in the parent component.

But, now my global state object (given to the child components as props) has changed, how do I request a component update?

[2017-05-01 18:05] newfivefour commented on #156
I've read this on react: https://stackoverflow.com/questions/30626030/can-you-force-a-react-component-to-rerender-without-calling-setstate/35004739#35004739

Specifically

So in this case I made a component take a string as a prop. Then in the event handler, I change the string object. So:

[code]

It renders "SOMETHING OLD" first. And then I can see `onRefreshAll` is invoked. And I'm changing the

[2017-05-01 18:14] newfivefour commented on #156
Oh, in the event handler, you do this:

[code]

Can we put this in the documentation somewhere? It's taken me about a day to figure it out.

[2017-05-01 18:24] pavlospt commented on #157
Supposedly that someone could include a webview or electron thing on an IntelliJ plugin, this could seem possible, with the Stetho integration.

[2017-05-01 18:29] pavlospt commented on #155
`InputType` seems to be supported judging by the latest `EditTextSpec` on `master` https://github.com/facebook/litho/blob/master/litho-widget/src/main/java/com/facebook/litho/widget/EditTextSpec.java

[2017-05-01 18:48] pavlospt commented on #151
One thought on this is that it could create a List of Elements from RoundEnvironment by combining the results of:

[code]

instead of getting the root elements, since it seems that you are only taking care of those 2 annotations :)

[2017-05-01 19:41] pavlospt commented on #151
[code]

Seems to be working fine with the current implementation. I also run the sample with a `package-info.java` file and an annotated package entry. Let me know if you need a PR for this.

[2017-05-01 20:33] adelnizamutdinov opened #158 "litho-widget has a runtime dependency on fresco"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
litho-widget has a runtime dependency on fresco, although it seems like it's litho-fresco's responsibility

## Expected Behavior
litho-widget does not depend on fresco

## Link to Code
https://github.com/facebook/litho/blob/master/litho-widget/build.gradle

[2017-05-01 22:46] newfivefour commented on #154
Just cloned and had the same issue.

[2017-05-01 22:55] newfivefour opened #159 "Stetho crashes failing to find com/facebook/litho/annotations/Prop"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce

Follow getting started and the [tutorial](http://fblitho.com/docs/tutorial) to the second part.

Insert this code in your Application class to enable Stetho.

[code]

And have a build.gradle dependencies like this:

[code]

Run Stetho and navigate to `Lis

[2017-05-02 00:14] newfivefour opened #160 "Add basic documentation for animating components"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

There are animation classes in https://github.com/facebook/litho/tree/master/litho-core/src/main/java/com/facebook/litho/animation.

However, there's no documentation on how to use them. And my very brief research into react animations isn't helping.

Can we add some very basic documentat

[2017-05-02 00:41] newfivefour commented on #160
Or just post some sample code here?

Then I'll make a blog post explaining it and giving the caveat that it's not documented and things may change?

[2017-05-02 02:03] barontxu commented on #149
I feel like facing more than 3 this kind of href while i reading the tutorial.I will keep reporting bugs if i find more.

[2017-05-02 02:04] barontxu commented on #150
I think Ian is right, the api has changed.

[2017-05-02 02:06] barontxu commented on #146
@passy of course, sorry for missing some details of the problem.

[2017-05-02 02:10] barontxu opened #161 "How can I customize a component that can be replaced in runtime"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
It's not a bug but a question.
If I want a button that once i click it will become a image or cardview, or onclick the app's whole contentView will be replaced by another view, how can i implement it? The question is how can I replace some component in the

[2017-05-02 03:02] barontxu commented on #161
Should I use Mount Specs?

[2017-05-02 03:49] barontxu opened #162 "Can't figure out what is convertDrawable in http://fblitho.com/docs/mount-specs"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
read code below line "Let’s have a look at ColorComponent with the described @OnPrepare method.
" in http://fblitho.com/docs/mount-specs.

In code piece:
  @OnMount
  static void onMount(
      ComponentContext context,
      ColorDrawable colorDrawable,

[2017-05-02 06:46] barontxu opened #163 "What does canMountIncrementally and PTRRefreshEvent means?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
In source code of RecyclerSpec I came over this piece:
_@MountSpec(canMountIncrementally = true, isPureRender = true, events = {PTRRefreshEvent.class})_
I search the docs for the annotations but it shows its a value of canMountIncrementally() and tells me

[2017-05-02 06:57] barontxu commented on #163
Does it means using image or text or some small unit instead of using a whole view class to present recycler?

[2017-05-02 07:01] #161 closed

[2017-05-02 08:32] IanChilds commented on #162
It's a spelling error. I will send a fix.

[2017-05-02 08:32] #162 closed

[2017-05-02 08:39] IanChilds commented on #150
Fix for this is incoming.

[2017-05-02 08:39] #150 closed

[2017-05-02 08:42] IanChilds commented on #158
This is a good point - a legacy issue. Will fix this up.

[2017-05-02 08:44] passy commented on #156
Hi @newfivefour,

thanks for pointing out some issues with the documentation. That first example is generally *not* how Litho is supposed to be used at all. One of the main tenets of Litho is the use of immutable data structures. Explicit mutation is something that's highly discouraged for all the well-documented reasons against mutable state. Instead, you create a new Component and let the framew

[2017-05-02 08:46] passy opened #164 "Provide docs for updating components"
We don't have adequate documentation at the moment for updating components at the moment, which can lead to confusion for people not familiar with immutable UI paradigms.

We should either have a section in the docs dedicated to the topic or add a tutorial section which could implement the common example of a counter with two buttons incrementing/decrementing it.

ref #156

[2017-05-02 08:52] passy commented on #163
@barontxu The concept of incremental mount is explained here: http://fblitho.com/docs/inc-mount-architecture

PTR stands for Pull To Refresh. We should probably have a docstring explaining that. I'll add that today.

[2017-05-02 08:52] barontxu commented on #163
@passy Thank you!

[2017-05-02 08:57] barontxu commented on #163
@passy By the way, a href in http://fblitho.com/docs/inc-mount-architecture is missing, one of the flaws I should report in https://github.com/facebook/litho/issues/149. I'll add it to that issue.

[2017-05-02 08:57] barontxu commented on #149
In http://fblitho.com/docs/inc-mount-architecture, the href from "Layout off the main thread" missing.

[2017-05-02 09:04] passy commented on #149
@barontxu "Jank" is a fairly commonly used term in UI. If you google for it, try to add "60fps" or "UI" and you'll find some great article, e.g. https://addyosmani.com/blog/making-a-site-jank-free/

[2017-05-02 09:06] mihaelao commented on #156
Hi @newfivefour , thanks for bringing this up. I'll work on adding a concrete example on how to update the components in the tutorial.

In the meantime, regarding your question around these instructions: "If the props values must be updated, the parent has to create a new Component and pass down new values for the props". Whenever you want to change the props for one of your components in your hie

[2017-05-02 09:06] barontxu commented on #149
@passy Thank you for explain. I use a dictionary instead , so i got nothing, I'll try google first next time.

[2017-05-02 09:07] passy commented on #160
Animation is still very much in flux and unstable right now, as I understand it. Once we're happy with the API, we will definitely spend the effort on providing examples and docs.

Perhaps @marco-cova can provide some info here.

[2017-05-02 09:13] mihaelao commented on #156
Closing as @passy opened #164 for writing a tutorial on this.

[2017-05-02 09:13] #156 closed

[2017-05-02 09:36] #149 closed

[2017-05-02 10:04] muraziz commented on #155
@pavlospt correct, it has been added very recently. Now we support `inputType` in `EditTextSpec`

[2017-05-02 10:11] astreet commented on #160
Yeah, these APIs aren't ready for production yet, we're still working on them. Once they're more solidified and tested we'll write up some documentation :)

[2017-05-02 10:13] passy commented on #160
Thanks! I'll close this for now.

[2017-05-02 10:13] #160 closed

[2017-05-02 10:18] pasqualeanatriello commented on #152
The solution proposed by @newfivefour using DragShadowBuilder should work here :)

[2017-05-02 10:18] #152 closed

[2017-05-02 10:33] #163 closed

[2017-05-02 12:04] passy commented on #158
Fixed with 496f4e4eb3aaad5356925dd5f8eb9ca0d06c619c.

[2017-05-02 12:04] #158 closed

[2017-05-02 12:08] passy commented on #154
This is now fixed on master. Sorry about that!

[2017-05-02 12:08] #154 closed

[2017-05-02 12:33] lenguyenthanh commented on #159
I experienced the same issue.

[2017-05-02 12:41] passy commented on #159
If you want to use stetho, you need to compile the annotations in, that means you need to change

[code]

to

[code]

I'll try to find a good place to add this to the docs.

[2017-05-02 12:50] passy commented on #159
This is actually only needed as temporary workaround. If you build from litho master then this won't happen any longer.

We'll try to get a `0.2.1` release out soon to address this. Thanks for bringing this to our attention!

[2017-05-02 17:07] newfivefour commented on #156
@passy  @mihaelao  I'm using what I think is the flux, or at least elm, system. Model -> View -> Update

I have a global immutable model (not component specific state). The whole app is rendered from this model.

Then components throw events when a button is clicked, text is entered etc. Those events call an update method that creates a new model from the old model.

At that point I want to tell t

[2017-05-02 17:10] newfivefour commented on #159
Can confirm this works when I change `provided` to `compile` with the current version of litho, `0.2.0`.

[2017-05-02 17:20] newfivefour commented on #71
I've come across this problem too.

I want to use Android EditText. (It has properties that litho's doesn't).

I want to measure the height of the EditText like this: https://stackoverflow.com/questions/24359538/how-to-find-the-text-areaheight-width-of-textview-programmatically-in-android/24359594#24359594

[code]

But currently there is no way to access the Android EditText in the `onMeasure` fun

[2017-05-02 17:28] newfivefour commented on #82
There are more states here https://developer.android.com/reference/android/graphics/drawable/StateListDrawable.html for the same reason that should be added, I'd say.

I'd also like to set `clickable`. I have to set a view as such when I want to detect a fling.

[2017-05-02 18:24] #151 closed

[2017-05-03 04:55] pavlospt commented on #86
@passy so what about keeping only the styleable attribtes at are needed for litho-testing, inside litho-core and moving the rest over to litho-widget? I think i can prepare a PR if that's what's needed.

[2017-05-03 04:59] pavlospt commented on #133
@emilsjolander somthat would probably need to reset to YGNodeDefaults except for the direction?

[2017-05-03 06:44] barontxu opened #166 "Maybe a bug in http://fblitho.com/docs/state#calling-state-updates"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
In the piece of code in http://fblitho.com/docs/state#calling-state-updates,
 @OnUpdateState
  void updateCheckbox(StateValue<Boolean> isChecked) {
    isChecked.set(!isChecked.get());
  }
is void, but I thought other method in spec is static, so the funct

[2017-05-03 07:09] emilsjolander commented on #133
Yes. Hold off on this though, i'm currently working on it and we will see if it is worth it :)

[2017-05-03 07:11] pavlospt commented on #133
@emilsjolander ok nice! Should anyone that is working on an issue add a comment on it, in order to avoid conflicting work? :)

[2017-05-03 08:19] passy commented on #166
Thanks!

[2017-05-03 08:29] barontxu opened #168 "How can I add ClickEvent Solver For Recycler's ComponentInfo?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
I wrote a component TrainExpandCardFlowSpec which has one and only one Recycler, and the Recycler has some trainCards.
I want to add clickEvent solver for each trainCards and the solver will change some property of TrainExpandCardFlow, so I want to add cli

[2017-05-03 08:38] passy commented on #159
I'm going to close this as it's already fixed in master. We should have the release ready later this week.

[2017-05-03 08:38] #159 closed

[2017-05-03 08:42] barontxu commented on #168
In fact I am trying to write a cardFlow that shows a list of cards, and I use pageSnapperHelper of android to make sure each time there's one and only one card shows in my watch, and I can swipe at most one card each Time.
What's more, when I click at one of the card, I want the card to   expand to a bigger card with details. And now when i swipe, I swipe on this detail card, not the recycler.Afte

[2017-05-03 08:47] #166 closed

[2017-05-03 09:27] barontxu commented on #168
I think i've found the reason.
In TrainExpandCardFlow.onClick1(context)), the source code litho generated is

 public static EventHandler<ClickEvent> onClick1(ComponentContext c) {
    return newEventHandler(c, 1040695912, new Object[] {
          c,
        });
  }
but what i want is Component, not ComponentContext, so I should pass a traincard to it. So the question is, how can I pass a traincar

[2017-05-03 10:07] IanChilds commented on #86
@passy why does `litho-testing` rely on `widget_attrs.xml`? What are the dependencies?

[2017-05-03 10:13] passy commented on #86
@IanChilds The only dependency is the `ComponentsRule` that includes the hack currently needed to make Buck work with the styleable attributes.

@pavlospt I *think* (but might be wrong here) that this actually includes all attributes currently listed in there.

The best way to solve this would clearly be to fix the buck hack but this has proved to be rather difficult. I'll try and find out what th

[2017-05-03 13:54] pavlospt commented on #81
I have started working on this and my progress so far is:
* I have added the ability to add a ResType on a PropDefault annotation.
* I extract it successfully and add it on the PropDefaultModel
* Parsing it correctly and initializing the Prop field with a proper initializer (only using the `resolveDimenSizeRes()` for now)

My thoughts on the above:
* In order to use the resource resolve method, I

[2017-05-03 13:56] emilsjolander commented on #81
Could you publish your current progress as a pull request? This way we could make better suggestions based on the code. From the info you provided I think both alternatives would work. I see no reason not to pass the context down to the component.

[2017-05-03 14:02] pavlospt commented on #81
@emilsjolander Ok will try to prepare a PR for them later in the day or tomorrow :)

[2017-05-04 03:52] barontxu opened #169 "At least one error in http://fblitho.com/docs/events-overview"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
In every piece of code in http://fblitho.com/docs/events-overview, there's

 static ComponentLayout onCreateLayout(
      Context c,

and

 @OnCreateLayout
  static ComponentLayout onCreateLayout(
      LayoutContext c,

but  LayoutContext not even exist i

[2017-05-04 05:55] barontxu commented on #169
By "I have trouble binding events", I mean, for example, how can I dispatch a CLICK event by dispatchClickEvent? I have no idea how to get access to view.Or why there's a
@FromPrepare int color
from the second piece of code, I know what FromPrepare means, but where is it define or how should I implement a FromPrepare?

[2017-05-04 05:59] barontxu opened #170 "style bug in http://fblitho.com/docs/custom-layout.html#sizespec-information-during-layout"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
open http://fblitho.com/docs/custom-layout.html#sizespec-information-during-layout using chrome.
you'll find the title's style is broken, some fonts are too big, some are small.

## Expected Behavior
same font in a line.

[2017-05-04 06:16] barontxu opened #171 "Error in ClickEvent's comment"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
In ClickEvent's source code, it comments
[code]
But when I implement a click event as it told me, ide tells me I should give out a componentContext as first param.So there must be sth wrong.

[2017-05-04 06:55] barontxu opened #172 "error in http://fblitho.com/docs/events-touch-handling"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
in first piece of code in http://fblitho.com/docs/events-touch-handling,
.buildWithLayout();
should be
.build().

[2017-05-04 07:11] barontxu opened #173 "recycler's bug that can't add onClick for it as tutorial do for text component"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
I tried to add an onClick() for recycler as first piece of code in http://fblitho.com/docs/events-touch-handling do.At first I add onClick for a text, it worked.Then I replace the text by a recycler, but it seems the binding failed.

## Expected Behavior
O

[2017-05-04 07:34] mihaelao commented on #169
Hi @barontxu , thanks for pointing out these issues, we need to fix this in the docs. In the meantime you can find an example of how to create and pass down click handlers in [DemoListItemComponentSpec](https://github.com/facebook/litho/blob/master/sample/src/main/java/com/facebook/samples/litho/DemoListItemComponentSpec.java) in the [sample](https://github.com/facebook/litho/tree/master/sample/sr

[2017-05-04 07:51] barontxu commented on #169
hello @mihaelao ,thanks for answering the question.But that's not the answer I'm looking for, of course I know how to simply bind onClick.What I'm asking is more complicated.
And it's my fault not explaining the problem correctly.
I mean i want to bind click event out of spec(int runtime or in parent of the spec), and bind click event to recycler.

By " how can I dispatch a CLICK event by dispatch

[2017-05-04 12:17] #172 closed

[2017-05-04 12:48] #171 closed

[2017-05-04 14:19] passy commented on #173
Just for clarification, do you want the click handler to be called when you tap the RecyclerView or do you want to have individual items in the recycler to respond to them?

[2017-05-04 14:22] barontxu commented on #173
@passy thank you first!!
I think the handler to be called when I tap the RecyclerView is fine.And if possible I want every individual items in the recycler to respond when click at them.

[2017-05-04 14:39] #170 closed

[2017-05-04 14:43] passy commented on #173
I don't think clicks on the recycler are supported as it's expected to forward events to its children. The `RecyclerBinder` is more than just a wrapper around `RecyclerView` (hence the different name) and doesn't expose the underlying mounted view with all its regular functionality.

[2017-05-04 14:47] barontxu commented on #173
@passy Get it. So is there any way I can make the component in recycler to answer my click and change some variable or state in recycler?

[2017-05-04 14:49] barontxu commented on #173
I doesn't mean implement onClick in the component's spec, but add onClick when components are added to recycler.

[2017-05-05 06:06] barontxu commented on #173
Should I take the silence as a "you can only set one's click handler in its spec"?

[2017-05-08 02:52] dynsxyc opened #177 "JNI WARNING: JNI method called with exception pending"
- [1 ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue.***
通过运行gradlew :sample:installDebug 安装sample测试demo，应用已安装成功，但是无法运行，点击demo Icon 出错
05-08 10:46:43.813 20299-20299/com.facebook.samples.litho D/dalvikvm: Added shared lib /data/app-lib/com.facebook.samples.lit

[2017-05-08 03:31] barontxu opened #178 "How to set breakpoint when annotation processor generating component files?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
I'm reading source code but I find it's hard to  set a breakpoint or get some output of the annotation processor, so it's not easy to understand them all. Could you plz provide some advise?
Thank you ! !

[2017-05-08 08:13] passy commented on #178
Could you explain what you're trying to do? Depending on that there may be different places to hook best into.

[2017-05-08 08:15] passy commented on #177
Apologies, but this is not enough for us to reproduce the error. Please reopen a bug report with more information about potential changes you've made, the version of the repo and platform you're on. Thank you!

[2017-05-08 08:15] #177 closed

[2017-05-08 08:27] barontxu commented on #178
I'm trying to understand how the whole project work. I've read about annotation processor, javapoet and part of codes in litho-processor and litho-widget, etc. And while reading, set a breakpoint and see what really happens there might be a great help.
 I was trying to attach break point in litho-processor, for example, in ComponentsProcessor or AbstractComponentsProcessor, there's generate(SpecMo

[2017-05-08 08:52] passy commented on #178
Gotcha. Perhaps @IanChilds has some advice on how to debug the processor.

[2017-05-08 08:54] pavlospt commented on #178
@barontxu You can also refer here http://stackoverflow.com/questions/8587096/how-do-you-debug-java-annotation-processors-using-intellij

[2017-05-08 09:11] barontxu commented on #178
Thank you passy and pavlospt , I'll try the stackoverflow first.
But it seems need some time since I'm using android studio.Maybe I should learn how to use gradle in terminal.

[2017-05-08 09:14] pavlospt commented on #178
@barontxu this StackOverflow question has details for Gradle as well, if you scroll a bit!

[2017-05-08 09:23] barontxu commented on #178
@pavlospt Thank you! I read it just now and trying to apply.

[2017-05-08 10:21] passy commented on #178
I'm closing this here as the question isn't specific to Litho. Stack Overflow is probably a better place for this. :)

[2017-05-08 10:21] #178 closed

[2017-05-08 10:23] barontxu commented on #178
Of course, you're right.A lot thanks to you and pavlospt.

[2017-05-08 12:53] IanChilds commented on #71
Not sure what you mean here:

If you look at https://github.com/facebook/litho/blob/master/litho-widget/src/main/java/com/facebook/litho/widget/EditTextSpec.java#L229 you see that it _does_ actually access the Android EditText in the `onMeasure` method.

[2017-05-08 13:46] #25 closed

[2017-05-09 10:40] pavlospt commented on #62
@passy Is there a list of those, that you are ok with?

I mean there are lint errors like:
* `view.setForeground(null);`  that are safe-guarded with an API check before accessing them, although Lint does not understand it. One solution could be to reverse the API check and run that method only then, that would satisfy the Lint I suppose.

[2017-05-09 10:54] passy commented on #62
@pavlospt That sounds pretty reasonable.

We don't have a list right now. I think it might be best to tackle these in a few individual PRs. There may be some that are a bit more invasive and require some thought but a bunch of them are probably just missing annotations or places where we could use `@SuppressLint` if it's clear that Lint is overly sensitive.

[2017-05-09 10:55] pavlospt commented on #62
Ok I understand what you mean. Will try to create a PR covering most of them so that we can discuss what is acceptable and should be suppressed and what not :)

[2017-05-09 11:11] passy commented on #62
@pavlospt Awesome!

![](https://media3.giphy.com/media/dudcZA9e14HIY/giphy.gif)

[2017-05-10 14:18] barontxu opened #180 "What does mMountableOutputBottoms and mMountableOutputTops mean in LayoutState?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
I came across this piece of code(in the link below), and found mMountableOutputBottoms and mMountableOutputTops hard to understand. I noticed that they are array of LayoutOutput and just by different sorting. But I don't understand why they need be such so

[2017-05-11 06:19] barontxu commented on #180
And in ComponentHost.java, the method
 mountDrawable(int index, MountItem mountItem, Rect bounds)
seems doing nearly all works in ComponentHostUtils.mountDrawable(), and in that method,comment says it "Mounts a drawable into a view."
The code is like this:
[code]
I found it's not clear that how this code mount a drawable into a view.
Thank you.

#Link to Code
https://github.com/facebook/litho/blob

[2017-05-11 06:24] auhah commented on #154
I have a similar problem
The only difference is i got success when to run `./gradlew :sample:installDebug`

All this happened at 8d97c1f2e2174990482210680c60a3bcf67192c8

[2017-05-11 07:39] passy commented on #154
@auhah Could you open a new issue and post the error message you're seeing?

[2017-05-12 02:53] #168 closed

[2017-05-12 02:54] #169 closed

[2017-05-12 02:55] #173 closed

[2017-05-12 03:15] talenguyen opened #181 "RecyclerBinderUpdateCallback not work as expected."
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
I'd like to bind my Recycler by using `DiffUtil` and `RecyclerBinderUpdateCallback` this way:

Define a custome component called `PlaygroundComponentSpec` and it will display a list:

[code]

Then populate the binder with list items:

[code]

## Expected B

[2017-05-12 12:54] lucasr commented on #181
cc @pasqualeanatriello

[2017-05-12 14:39] R4md4c opened #182 "error: Event fields must be declared as public non-final."
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
I'm trying to write a custom Event in my application, that includes `@IntDef` annotation, and contains `public final static int` fields.
I'm getting an error from the annotations processor that says
`Error:(19, 9) error: Event fields must be declared as pu

[2017-05-12 15:37] IanChilds commented on #182
Hi @R4md4c, yes you are right, I think your proposal makes sense. If you could submit a PR that would be really great! I think that we should allow either `public non-static non-final` or `public static final`, do you agree?

[2017-05-12 15:53] R4md4c commented on #182
IMHO, I think if we allowed `public non-static non-final` then the code above won't work, because `IntDef` annotation expects a constant static field. So I'd say I would go for allowing just `public static final`, and disallow `non-static final` variables.

[2017-05-12 16:09] R4md4c commented on #182
I think I misunderstood your statement, sorry about that, Yeah I agree with allowing just `public non-static non-final` and `public static final`.

[2017-05-13 07:59] karuppiah7890 opened #183 "SoLoader dependency version problem in Getting Started page"
- [X] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
Simply follow the [getting started guide](http://fblitho.com/docs/getting-started) and add the dependencies. And build with gradle.

## Expected Behavior
Gradle should build with all dependencies without errors. But it says it's not able to resolve soloade

[2017-05-13 08:43] pavlospt commented on #183
Yeap, as you can see here: http://jcenter.bintray.com/com/facebook/soloader/soloader/ only version 0.2.0 is uploaded, also there is no snapshot of 0.2.1 available on Sonatype Snapshots: https://oss.sonatype.org/content/repositories/snapshots/com/facebook/ .

[2017-05-13 09:54] passy commented on #183
Woops, sorry that was my fault. The soloader version should be `0.2.0`. I accidentally replaced that during our Litho version update. It's completely independent from Litho and our release cycle. Doc fix is coming.

[2017-05-13 19:22] #183 closed

[2017-05-15 02:35] #180 closed

[2017-05-15 09:47] #182 closed

[2017-05-16 05:22] hussainahmad opened #185 "Failed to resolve: com.facebook.soloader:soloader:0.2.1"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue.***

## Expected Behavior
***Describe what you expected would happen.***

## Link to Code
***Please show some code we can use to reproduce this issue. Consider using [PlaygroundComponentSpec](https://github.c

[2017-05-16 05:40] hussainahmad commented on #185
Error:(38, 13) Failed to resolve: com.facebook.soloader:soloader:0.2.1
<a href="openFile:E:/ACADMIC/LithoImplementation_ComponentKit/app/build.gradle">Show in File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>

[2017-05-16 05:40] hussainahmad commented on #185
Error:Failed to resolve: annotationProcessor
<a href="openFile:E:/ACADMIC/LithoImplementation_ComponentKit/app/build.gradle">Open File</a>

[2017-05-16 07:29] #185 closed

[2017-05-16 16:41] paveldudka opened #186 "SoLoader lib version in "Getting Started" guide is wrong"
"Getting started" section of Litho docs mentions `soloader` lib version 2.0.1. However it is not released yet - the latest version published on Maven is 2.0.0: https://mvnrepository.com/artifact/com.facebook.soloader/soloader
![screen shot 2017-05-16 at 9 41 39 am](https://cloud.githubusercontent.com/assets/3103759/26117608/efa15c74-3a1b-11e7-9293-9580c5536df0.png)

[2017-05-16 16:54] pavlospt commented on #153
https://medium.com/square-corner-blog/generating-kotlin-code-with-kotlinpoet-119dc20f74d4 Seems like now there is a tool :)

[2017-05-16 16:56] pavlospt commented on #186
Yes, this is wrong and known issue. Will be fixed soon I think.

[2017-05-16 16:56] pavlospt commented on #186
Yes, this is wrong and known issue. Will be fixed soon I think.

[2017-05-16 17:17] ubuntudroid commented on #153
JIT :)

Pavlos-Petros Tournaris <notifications@github.com> schrieb am Di., 16. Mai
2017, 18:54:

[2017-05-17 09:17] passy commented on #186
Sorry, I fixed half of it before and didn't see that there were two references in this guide. Other half will be fixed in half an hour or so. :)

[2017-05-17 09:17] #186 closed

[2017-05-22 08:42] pasqualeanatriello commented on #181
Really sorry for the late reply but I've been out of the office.
The problem here is probably that you are allocating the RecyclerBinder inside onCreateLayout.
I would suggest keeping it in your Fragment and pass it down as prop. Also you want to invoke addDataToBinder from your fragment. onCreateLayout will run every time the system needs to compute a new layout.

[2017-05-22 10:05] IanChilds commented on #119
Sorry for the long delay. I've made half of the changes that you proposed here: https://github.com/facebook/litho/commit/b9a6fa71e2b85e408a81197cc407c95b260f61e3

Not all DI systems will support static injection so I don't think what you propose will work, though I like the approach.

[2017-05-24 05:21] hussainahmad commented on #143
@
thanks dude, really good solution

[2017-05-24 08:05] talenguyen commented on #181
Thank you for your reveal of "onCreateLayout will run every time the system needs to compute a new layout". But the code is only for demo purpose. After I take a deeper look at source code of the `RecyclerBinderUpdateCallback.java` I figured out that there is a method `applyChangeset()` and it must be called right after `diffResult.dispatchUpdatesTo(updateCallback)` like below:

[code]

It's a lit

[2017-05-24 08:05] #181 closed

[2017-05-24 12:20] hussainahmad opened #189 "unable to use Typeface class to customize font through createFromAsset()"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue.***

## Expected Behavior
***Describe what you expected would happen.***

## Link to Code
***Please show some code we can use to reproduce this issue. Consider using [PlaygroundComponentSpec](https://github.c

[2017-05-24 12:25] lucasr commented on #189
Hi @hussainahmad, have you tried this?
[code]

[2017-05-24 12:55] hussainahmad commented on #189
Hi @lucasr thanks for early response, its really works,
its my mistake , solved my problem
again thanks 💯

[2017-05-24 12:55] #189 closed

[2017-05-25 03:30] Shuijwan opened #190 "what's the relationship between litho and React Native for Android"
Litho is released in F8 2017, and is a great UI framework. according to the document, it has several great features like layout in background thread, incremental mount to improve the performance.  and some of the technical are same as React native. The question is why not just merge these features to React native for android and reinvent another wheel? are there some consideration? what's the rela

[2017-05-25 11:51] hussainahmad commented on #159
hi @passy i am using debugCompile 'com.facebook.litho:litho-stetho:0.2.1'
but when I import com.facebook.litho.stetho.LithoWebKitInspector;
 its giving error "can not resolve symbol 'LithoWebKitInspector' "

[2017-05-25 12:20] hussainahmad opened #191 "can not resolve symbol 'LithoWebKitInspector'"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
***Replaces this with steps to repro your issue.***

## Expected Behavior
***Describe what you expected would happen.***

## Link to Code
***Please show some code we can use to reproduce this issue. Consider using [PlaygroundComponentSpec](https://github.c

[2017-05-25 12:24] hussainahmad commented on #191
when i import `com.facebook.litho.stetho.LithoWebKitInspector;` giving error
Gradle file `// Litho
    compile 'com.facebook.litho:litho-core:0.2.1'
    compile 'com.facebook.litho:litho-widget:0.2.1'
    compile 'com.facebook.litho:litho-annotations:0.2.1'
    annotationProcessor 'com.facebook.litho:litho-processor:0.2.1'
    // SoLoader
    compile 'com.facebook.soloader:soloader:0.2.0'
    // O

[2017-05-25 12:38] passy commented on #191
@hussainahmad How do you compile it? Is it possible you're compiling a release flavor and not a debug one?

[2017-05-25 12:38] passy commented on #191
For future bug reports, it would really help us a lot if you could stick to the template we've created.

[2017-05-25 12:52] hussainahmad commented on #191
i am compiling this code[https://github.com/facebook/litho/tree/master/sample](sample code)
that's why i didn't check this, just copy past code of your sample project

[2017-05-25 13:09] passy commented on #191
@hussainahmad That's why I ask about the way you compiled it. If you build it in release mode, then the import won't be available. :)

[2017-05-27 17:42] hussainahmad commented on #191
Really sorry for late response, @passy i am getting this error in debug mode not in release mode

[2017-05-27 21:28] passy commented on #191
@hussainahmad Does that mean you're not getting the issue in release mode? Which version of the gradle plugin are you using? The semantics have changed with version 3.

[2017-05-28 09:04] hussainahmad commented on #191
@passy yep, i am getting this error in debug mode,  gradle version is 3.3, android plugin version is 2.3.2 and build tool version is 25.0.3

[2017-05-28 10:09] passy commented on #191
@hussainahmad If you change the dependency declaration from `debugCompile` to a regular `compile`, does that still cause issues?

[2017-05-28 11:00] hussainahmad commented on #191
@passy still cause same issue in both declaration condition (debugCompile & compile)

[2017-05-28 12:00] passy commented on #191
@hussainahmad Sorry, I'm not sure in that case. Would it be possible to create a repository so I can repro this myself?

[2017-05-28 12:41] hussainahmad commented on #191
Sure, let me create

[2017-05-28 13:24] hussainahmad commented on #191
Sure, let me create

[2017-05-29 05:51] hussainahmad commented on #191
@passy [https://github.com/hussainahmad/LithoSample](sample code)

[2017-05-29 15:52] passy commented on #191
@hussainahmad Changing the import from `com.facebook.litho.stetho.LithoWebKitInspector` to just `com.facebook.litho.LithoWebKitInspector` will fix your issue. I'm not entirely sure why the JARs ended up with that package, though.

Thanks for the report, I'll look into this!

[2017-05-29 15:54] passy commented on #191
Oh, the answer is simple: The move to its own `.stetho` package is a fairly recent one and happened after the last release: https://github.com/facebook/litho/commit/cd55b73156b1c957487969a5fd1beeabcb6522a8

With the next release, the new import will work.

[2017-05-29 15:54] #191 closed

[2017-06-01 13:46] emilsjolander commented on #190
Great Questions! Both React Native and Litho take a lot of learning from React.js which is why there are a lot of similarities. While they are similar in many ways Litho also differs from React Native in many ways, one obvious one is the choice of language. At Facebook we have seen a lot of value in both frameworks and depending on the project, surface, and team makeup one framework is better than

[2017-06-01 13:46] #190 closed

[2017-06-06 07:56] hussainahmad opened #195 "Spec Class Visibility not found"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
***I don't found any method in Litho like 'ProgressBar.setVisibility(View.VISIBLE);'
here 'ProgressBar' is generated class of  ProgressBarSpec. ***

## Expected Behavior
***Like in android View we  use setVisibility() for setting visibility according use c

[2017-06-06 08:27] IanChilds commented on #195
In Litho, you don't dynamically set visibility. You just choose to include the `ProgressBar` or not when you layout your Component.

[2017-06-06 08:27] #195 closed

[2017-06-11 06:43] sushshring commented on #163
For a Recycler object, what how exactly do we trigger the event handler to hide the refresh animation?

[2017-06-12 09:04] Martin-Hogge opened #196 "Keep EditText content in Recycler"
Hi !

I try to have a list with many EditText components using Litho. I manage to do it with this:

[code]

Where my `FormValueStringSpec` is

[code]
But when I scroll up and down, content of these EditText are gone. I assume this is due to the recycling of the views but then what should I do? I tried stuffs with '@state' but not sure this is the correct approach.

Thank you for further help!

[2017-06-12 09:39] Martin-Hogge opened #197 "Nested Recycler"
I try to use nested recycler because I have a layout that can be used alone or into a list but this layout can have more than > 10 rows with many views so I think it's better to set it up into a Recycler to take advantage of view's recycling, etc.

But when I try to nest Recycler, here's the error message I got:

Here is the code I'm using:

[code]

NB: this code is only to test nested recycler.

[2017-06-13 04:12] sushshring opened #198 "StackOverflowError when using touchExpansion"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
I need to add a recyclerView in the toolbar of my activity, and I cannot call setContentView() with the LithoView. Currently, I'm trying to add the generated LithoView as a sub child to an existing LinearLayout. However, this sends the renderer into an inf

[2017-06-13 09:34] passy commented on #198
@sushshring Could you post the stacktrace that you're seeing for the recursive loop?

[2017-06-13 09:51] pasqualeanatriello commented on #197
hey Martin there are a couple of issues here. The first is that you are using vertical recyclers within a vertical recycler. This is not supported at the moment. You can simply add all the children to the same Recycler.
If what you wanted is to have horizontal recyclers within a vertical recycler instead, that's totally fine. The only thing that you have to take care of is either give a specific s

[2017-06-13 10:03] sushshring commented on #198
Adding stack trace. The error happens as soon as I touch the element.

[code]

[2017-06-13 10:07] pasqualeanatriello commented on #196
The problem here is that value = text won't have any effect in your onTextChange event handler.
What you want instead is to have value as a State and use a lazy state update to update its value in your event handler.
See https://fblitho.com/docs/state#lazy-state-updates

[2017-06-13 10:07] #196 closed

[2017-06-13 10:14] sushshring commented on #198
It seems I found the root cause of this. When touched, it did not seem to like the touchExpansion option at all. I don't understand why that is the issue, but once I got rid of that it renders just fine now.

[2017-06-13 12:00] Martin-Hogge commented on #197
Will nested vertical Recycler will be possible in a future release or it isn't planned at all?

The reason why I wanted to have nested vertical Recycler is because I want to create dynamic forms, each forms could have different type of views (EditText, CheckBoxes, DatePicker, etc) but a form is not strictly defined, it is created dynamically depending on some data models. So forms could have 1 to

[2017-06-14 10:38] pasqualeanatriello commented on #198
@muraziz This seems like a bug in our touch expansion handling?

[2017-06-17 15:15] sushshring opened #199 "ComponentContext's Component Scope stays null"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
I have a fragment whose view I'm setting as a lithoView. Later, when after all view rendering is complete, I call a state update on one of the components, but the component context's component scope that I have for the fragment is null. So, the state updat

[2017-06-17 17:40] pavlospt commented on #199
Seems like a LifeCycle issue on your side, rather than Litho's issue, I guess!

[2017-06-17 18:15] sushshring commented on #199
I've had trouble with state updates right from the start. What is the best place to call a state update from my activity for a particular component? It seems like with the way I have it now, the context is changing/getting deallocated or something.

[2017-06-19 09:13] mihaelao commented on #199
Hey @sushshring, state updates for a component cannot be triggered from outside that component's lifecycle methods. The state is managed by the component that defines it. You might want to consider whether your use case would be better served by resetting the component of the LithoView with the updated props instead. https://fblitho.com/docs/best-practices#props-vs-state

[2017-06-20 05:43] sushshring commented on #199
@mihaelao Thank you so much! This makes the implementation a lot clearer for me!

[2017-06-20 05:43] #199 closed

[2017-06-21 07:08] hussainahmad opened #200 "In ComponentContext's Component Data is valid but not showing in LithoView"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
***I have local database where I am storing data to show data in Recyclerview , retrieving data from database is working fine but not showing in LithoView ***

## Expected Behavior
***I expect that the context correctly get data and show in Recyclerview **

[2017-06-21 07:12] hussainahmad commented on #200
![litho view](https://user-images.githubusercontent.com/5903522/27371566-c938adf0-567a-11e7-9db9-898afbf9b3b3.png)

[2017-06-21 07:12] hussainahmad commented on #200
![recycler binder](https://user-images.githubusercontent.com/5903522/27371598-e5aee8e6-567a-11e7-923a-c74f1262b4fd.png)

[2017-06-21 08:07] 9h0st opened #201 "Add support for StaggeredGridLayoutManager"
It's easy to implement a LayoutInfo for StaggeredGridLayoutManager, but it's hard to change item's layoutparams to setFullspan.
It will be appreciated to add support for StaggeredGridLayoutManager.

[2017-06-21 09:51] lucasr commented on #201
@pasqualeanatriello Any thoughts here?

[2017-06-21 10:07] pasqualeanatriello commented on #201
The idea here would probably be to pass custom attributes through the ComponentInfo. I believe we do something similar to support span count for the GridLayoutInfo

[2017-06-21 19:17] Zeyad-37 opened #202 "Better Documentation and Samples"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
I am trying to use Litho in my project but the documentation and samples don't really explain any advanced cases. Like how to handle the refresh handler and other

## Expected Behavior
Please make a more demonstrative sample with a full functionality. Like

[2017-06-21 19:32] Zeyad-37 opened #203 "recyclerBinder.append()"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Issues and Steps to Reproduce
Add an append function to add items to the list

## Expected Behavior
recyclerBinder.append(/*item(s) to added*/)

[2017-06-23 03:25] 9h0st commented on #201
@pasqualeanatriello What do you mean? GridLayoutInfo does have spanSizeLookUp to change span, but it doesn't support StaggeredGridLayoutManager.

[2017-06-23 21:14] bgfb opened #204 "Using Typeface with Text component is problematic"
Typeface.create() accesses a static cache and is not thread-safe.  This can lead to race-conditions and problems if you call Typeface.create() during Text component layout creation or style resolution, which can happen on a background thread.

[2017-06-24 15:59] passy commented on #203
@Zeyad-37 What would that add that the existing functions don't provide? E.g. `insertItemAt`, `updateItemAt` etc.?

[2017-06-24 16:04] Zeyad-37 commented on #203
That i dont need to manage the index

[2017-06-24 23:59] Zeyad-37 opened #205 "RxJava/2 extension"
- [ ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Feature Request
A RxJava/2 extension for Recycler events, something like RxBinding

## Expected Behavior
RxRecycler.scrollStateChanges(myRecycler).map(integer -> {/* handle scroll events here*/})
or
RxRecycler.endlessScrollListener(myRecycler).map(onLoad -> {/* handle onLoad events her

[2017-06-27 15:00] passy opened #206 "Support `resType` for var-arg properties"
For var-arg properties, we want to support `resType` constraints for the provided arguments in the same way that you currently can for regular props.

E.g.

[code]

*Point of contact:* @passy

[2017-06-29 13:58] #200 closed

[2017-07-02 06:46] marwanf1 opened #207 "ProgressSpec exception"
Whenever I want to add a Progress component to my views an exception is being thrown.

Drawable android:drawable/progress_medium_material has unresolved theme attributes! Consider using Resources.getDrawable(int, Theme) or Context.getDrawable(int).

The way I'm creating the Progress is as follows: Progress.create(c).colorRes(R.color.colorAccent)

Am I missing something or is this a bug?

[2017-07-06 06:25] mrzasan opened #210 "不开心。"
真的烦，新框架层出不穷，学不过来了，大兄弟们！！

[2017-07-06 08:34] #210 closed

[2017-07-11 07:49] hanhailong opened #212 "The following props are not marked as optional and were not supplied: [controller]"
java.lang.IllegalStateException: The following props are not marked as optional and were not supplied: [controller]
                                                                       at com.facebook.litho.Component$Builder.checkArgs(Component.java:98)
                                                                       at com.facebook.litho.fresco.FrescoImage$Builder.build(FrescoImage.java:4

[2017-07-11 11:32] hanhailong opened #213 "FrescoImage miss the uri() method"
- [ ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version

    // Litho
    compile 'com.facebook.litho:litho-core:0.3.1'
    compile 'com.facebook.litho:litho-widget:0.3.1'
    provided 'com.facebook.litho:litho-annotations:0.3.1'

    annotationProcessor 'com.facebook.litho:litho-processor:0.3.1'

    // SoLoader
    compile 'com.fa

[2017-07-11 11:46] passy commented on #212
You need to specify a `DraweeController`. You can see an example use here: https://github.com/facebook/litho/blob/94cb400c90fd4e09430c42584693b29725e2dd8c/sample/src/main/java/com/facebook/samples/litho/lithography/SingleImageComponentSpec.java#L31

[2017-07-11 11:46] #212 closed

[2017-07-11 11:47] passy commented on #213
Where did you see that method call? I'm wondering if our docs are incorrect.

You can see the correct use in the example here:
https://github.com/facebook/litho/blob/94cb400c90fd4e09430c42584693b29725e2dd8c/sample/src/main/java/com/facebook/samples/litho/lithography/SingleImageComponentSpec.java#L32

You set the URI on the controller, not the component.

[2017-07-11 11:47] #213 closed

[2017-07-12 10:29] sushshring opened #214 "Litho loses access to Yoga Sources for version 0.4.0"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
***Add the version of the litho packages you use. You can paste the dependency
section of the gradle file if you have one.***
[code]
After updating to litho package versions 0.4.0, it cal no longer find any Yoga source files that may be loaded by SoLoader. On going back to vers

[2017-07-12 10:34] lucasr commented on #214
@passy Could you have a look?

[2017-07-12 12:03] passy commented on #207
Hey, sorry for the delay.

I've tried to reproduce this, but `colorRes` in `Progress` works fine for me. This seems to be related to a project setup issue you have.

Are you still seeing this issue? Could you post a minimal example of how to reproduce this?

[2017-07-12 14:29] passy commented on #214
Thanks for the report!

What exactly does this mean? Is that at build time or run time? Could you post the error message you're seeing?

[2017-07-12 19:15] simpleton commented on #214
@passy Can't import yoga packages such as `com.facebook.yoga.YogaEdge` which is using in some layout api(eg. `paddingDip(YogaEdge edge, @Dimension(unit = DP) int padding);`)

[2017-07-12 21:22] passy commented on #214
Oh, I can see why now, thanks @simpleton for the explanation. The POM file published by the new version of the gradle file doesn't seem to include the dependencies, even when marked as `api`. So yes, it would be necessary for now to include `yoga` explicitly. I'll look into a fix for this.

[2017-07-12 21:35] passy commented on #214
I found the cause for this: The plugin we use for generating the POMs based on our Android dependency declarations hadn't been updated for the new dependency formats yet: https://github.com/dcendents/android-maven-gradle-plugin/issues/61

It looks like the version on master already supports it, so I will try to publish a new release with that yesterday and, if that doesn't work, revert back to the

[2017-07-13 11:55] passy commented on #214
I've just released a new version that should address the issue: https://github.com/facebook/litho/releases/tag/v0.4.1

Could you check if this fixes your problem?

[2017-07-13 12:34] sushshring commented on #214
That seems to have done it! Thanks @passy 🙏🏽

[2017-07-13 12:41] simpleton commented on #214
@passy It works now, thanks for your quick fix.

[2017-07-13 12:41] passy commented on #214
Fabulous! Thanks for confirming! :)

[2017-07-13 12:41] #214 closed

[2017-07-17 15:25] passy commented on #207
Closing this in lieu of a repro case. If you are still seeing this, please let me know!

[2017-07-17 15:25] #207 closed

[2017-07-27 09:15] passy commented on #108
Haven't seen this since. Closing.

[2017-07-27 09:15] #108 closed

[2017-07-27 21:54] vinc3m1 opened #216 "v0.5.0 not properly released"
When trying to import v0.5.0 via gradle, the dependencies don't resolve because the files don't exist on jcenter.

You can see on jcenter that there is no `0.5.0` folder, despite maven-metadata.xml saying `0.5.0` is the latest version: https://bintray.com/facebook/maven/com.facebook.litho%3Alitho-core#files

Not sure how maven central syncs with jcenter, but 0.5.0 doesn't exist on there either: ht

[2017-07-28 07:28] passy commented on #216
Thanks for the report! JCenter had some odd timeouts when I pushed the
release but after a few more attempts I didn't see them anymore and assumed
things were okay. I'll look into this today!

On Thu, Jul 27, 2017 at 22:54 Vince Mi <notifications@github.com> wrote:

--
--
Pascal Hartig
Software Engineer

http://passy.me/
Twitter: https://twitter.com/passy
Google+: http://gplus.to/passy

[2017-07-28 08:14] passy commented on #216
Reuploaded everything then built [litho-demo](https://github.com/kennethkwok/litho-demo) (in order to have a real-world example) with 0.5.0. I hope that addresses the issue!

[2017-07-28 08:14] #216 closed

[2017-07-31 16:14] simpleton commented on #216
@passy I can't download  `com.facebook.litho:litho-stetho:0.5.0` from jcenter or maven.
Here is error log:
[code]

I watch out litho-stetho [jcenter page](https://bintray.com/facebook/maven/com.facebook.litho%3Alitho-stetho/0.5.0), there is no 'maven build settings' in 0.5.0 version, but that exist in version 0.4.1 page.

![image](https://user-images.githubusercontent.com/454498/28787142-f48e59c6-

[2017-07-31 16:17] passy opened #217 "litho-stetho missing in v0.5.0 release"
See https://github.com/facebook/litho/issues/216#issuecomment-319118637

[2017-07-31 16:18] passy commented on #216
@simpleton Thanks! I'll check what went wrong with this one. Sorry about this, I'll look into ways to make the release process more resilient.

[2017-07-31 17:29] vinc3m1 commented on #216
litho-testing is also still missing `0.5.0` :)

[2017-07-31 17:29] vinc3m1 commented on #216
litho-testing is also still missing `0.5.0` :) https://bintray.com/facebook/maven/com.facebook.litho%3Alitho-testing#files

[2017-08-01 09:24] passy commented on #216
@vinc3m1 Bizarre. Thanks! Stetho seems to be fixed now, just couldn't post about it yesterday because GitHub decided to go down for a bit.

[2017-08-01 21:35] #217 closed

[2017-08-01 21:36] passy commented on #216
Re-released `-testing`, too. I'm also working on something to verify that a release was actually successful to avoid this from happening again. Thanks again for the report, @vinc3m1!

[2017-08-02 09:45] simpleton commented on #217
@passy It works now, thanks for your instant fix.

[2017-08-02 10:45] hussainahmad opened #218 "RecyclerBinder has private access"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
`V:0.5.0`

## Issues and Steps to Reproduce
My code running fine but when I updated to latest version which is `0.5.0`  then getting error
[code]

[2017-08-02 10:46] hussainahmad commented on #218
[https://user-images.githubusercontent.com/5903522/28870394-8d94557a-7799-11e7-9808-6338063a5ce4.png](recyclerbinder)

[2017-08-02 10:57] mihaelao commented on #218
Hey @hussainahmad, we made the RecyclerBinder constructor private and exposed a Builder instead because it was getting ugly maintaining all the different constructors when we wanted to add a new param. Check out this commit: https://github.com/facebook/litho/commit/19ce14e31a66662de472f94d2a9abe70e86b1a66

Hope that helps.

[2017-08-02 10:57] #218 closed

[2017-08-02 11:01] hussainahmad commented on #218
Sorry, i didn't notice this, I updated from `V:0.3.1` to `0.5.0` BTW thanks

[2017-08-03 13:09] BartNijland91 opened #219 "clipToPadding not working on Recycler"
Steps to reproduce:

- Create Recycler
- Add some Cards as items
- Add padding to the recycler
- Set "clipToPadding = false" to Recycler
- Still clips padding?

[2017-08-03 13:17] passy commented on #219
Maybe @muraziz knows something about this?

[2017-08-10 14:28] passy commented on #205
We don't use RxJava internally, but I think this would be great to have as a separate library. We'd definitely be happy to link to it. :)

[2017-08-10 14:34] passy commented on #101
@muraziz Fixed this a while ago. :)

[2017-08-10 14:34] #101 closed

[2017-08-10 14:36] passy commented on #106
@pavlospt Ooph, this was basically internet years ago. So sorry for the long delay. A lot has changed since then, including at least one direct fix for issues like this. Do you still see this bug?

[2017-08-10 14:38] passy commented on #203
I've now noticed this being quite inconvenient at times too. If someone wants to prepare a PR for this, I'm happy to review it. :)

[2017-08-10 14:53] pavlospt commented on #106
@passy not sure If I still have the project :) Will check it and let you know !

[2017-08-10 16:00] passy commented on #106
@pavlospt Awesome! And no rush, took me long enough here to respond. :)

[2017-08-11 08:15] barnett-yuxiang opened #221 "Crash cazu lack of so file in apk"
- [ ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
***Add the version of the litho packages you use. You can paste the dependency
section of the gradle file if you have one.***
no, I follow buck, i like it.

## Issues and Steps to Reproduce
***Replace this with steps to repro your issue.***
$ buck fetch sample
$ buck install -r

[2017-08-11 13:45] passy commented on #221
Not good! Thanks for the report. I can repro this locally. I'm looking into it.

[2017-08-11 14:53] #221 closed

[2017-08-12 08:42] jollycopper opened #222 "Litho removes all my other native libraries with BUCK"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
litho 0.5

## Issues and Steps to Reproduce
1. Create an simple Android app with buck using some prebuilt_native_library
2. Make sure the above reference native libraries only support armeabi-v7a
3. Add litho-core and litho-widget as a deps
4. In the genrated APK, only libfb.so

[2017-08-12 08:49] jollycopper opened #223 "Litho's buck documentation is totally broken"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

1. In the [Getting Started](https://fblitho.com/docs/getting-started) doc's BUCK section, the first android_prebuilt_aar references the wrong file litho.aar. It should be litho-core.aar.
2. In line 58, com.facebook.litho.processor.ComponentsProcessor is a wrong name and does not exist.
3.

[2017-08-12 09:07] jollycopper commented on #222
This might be similar to https://github.com/facebook/litho/issues/96.

After I include Litho in BUCK, it forces my project to be arm64. Weird.

[2017-08-12 09:14] jollycopper commented on #223
Another question is how exactly we should include litho-annotations in BUCK. provided_deps is not an option for android_library target.

[2017-08-12 10:56] ywensc commented on #222
I think I solved the problem by specifying my android_binary's cpu_filters to be armv7... Feel free to close the issue.

[2017-08-14 08:02] passy commented on #223
I'm sorry if you had a bad experience with the documentation. :(

It is certainly true that it receives less rigor than the gradle-based system, with the main reason being that Gradle is the de-facto standard in the community. We are a small team with limited resources and can't constantly test all configuration ourselves. Instead, we rely on reports like these to get better.

If there are obvious

[2017-08-14 09:52] passy commented on #223
We do use `provided_deps` in the open source build of litho through `android_library` and according to the buck source it should be available: https://github.com/facebook/buck/blob/adc0f78a68db45334098ac083171c7c2ebc32a8c/src/com/facebook/buck/android/AndroidLibraryDescription.java#L123

I think it may just be missing documentation. Closing this for now but let me know if you still have any issues

[2017-08-14 09:52] #223 closed

[2017-08-14 09:54] passy commented on #222
Do you have a sample project or some code that could help reproduce this? I haven't seen this kind of behavior before.

[2017-08-14 09:58] pavlospt commented on #106
@passy yeap it seems to be resolved :) Closing!

[2017-08-14 09:58] #106 closed

[2017-08-14 10:00] passy commented on #106
@pavlospt Brilliant. Thanks for confirming! :)

[2017-08-14 16:13] dbof10 opened #224 "Conflicting with React Native"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
***Add the version of the litho packages you use. You can paste the dependency
section of the gradle file if you have one.***
[code]

Error while compiling

[code]
They are conflicting because of `Yoga`.
  I did try
[code]
but it didn't help

[2017-08-14 16:28] passy commented on #224
@dbof10 This comes from the transitive dependency on Yoga that both projects have. You can exclude it manually from Litho by using the syntax described [here](https://docs.gradle.org/3.3/userguide/dependency_management.html#sub:exclude_transitive_dependencies).

It should look something like

[code]

but I'm not entirely sure about the declaration.

[2017-08-14 16:36] dbof10 commented on #224
Yes. I just tried to exclude `Yoga` from `Litho` but still have the same problem

[2017-08-14 17:47] passy commented on #224
Could you provide a sample project for this so I can reproduce this? Excluding the transitive dependency should definitely address this.

[2017-08-14 20:58] davidgoli opened #226 "Support for targetSdkVersion=26?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
    compile fileTree(dir: 'libs', include: ['*.jar'])
    androidTestCompile('com.android.support.test.espresso:espresso-core:2.2.2', {
        exclude group: 'com.google.code.findbugs'
        exclude group: 'com.android.support', module: 'support-annotations'
    })
    compi

[2017-08-14 21:48] passy commented on #226
Sorry, I don't quite follow. How does the Litho dependency come into play here? Why can't you just override the dependencies you need to make this work with SDK 26?

[2017-08-14 22:41] davidgoli commented on #226
@passy It's not clear/documented how to do that. These build problems only come after adding Litho dependencies, most directly involving RecyclerView's version.

[2017-08-14 22:46] davidgoli commented on #226
Nevermind, figured it out. It's necessary to add the following to the app module's `build.gradle`:

[code]

Would be great to add this to the documentation!

[2017-08-14 22:46] #226 closed

[2017-08-15 09:39] passy commented on #226
Thanks for sharing, @davidgoli!

[2017-08-15 14:37] dbof10 commented on #224
Take a look at https://github.com/dbof10/lithomix .

[2017-08-15 15:06] passy commented on #224
Apologies, I'm not very familiar with React Native. How do I recreate the scenario where I see the error message?

[2017-08-15 15:13] dbof10 commented on #224
At the root project, please run `npm install`. Then open `build.gradle` by `Android Studio` in Android folder. Both projects are great. I use them for my project. Because React Native has ton of issues there. I ask for help here

[2017-08-16 17:27] passy commented on #224
Thanks for providing the example!

This seems to work for me: Instead of excluding `yoga` for `litho-core`, add this section *after* your `dependencies {}` declaration:

[code]

The second is necessary because you'll otherwise see

[code]

I'm not quite sure why that happens as `litho-annotations` should only be `provided` and not be included in the APK, but excluding like this also seems to work.

[2017-08-16 21:33] thatsVishal commented on #202
No documentation on how to use Images

[2017-08-17 05:19] hussainahmad commented on #202
@thatsVishal you should read documentation thoroughly before saying this, please read how to use  `litho-fresco` for image integration

[2017-08-17 12:12] hussainahmad commented on #202
@thatsVishal sorry dude if you mind this, BTW I am not arguing with you :)

[2017-08-17 12:27] thatsVishal commented on #202
That's alright

[2017-08-17 12:28] passy commented on #202
This is definitely good feedback. I agree that there should be more documentation on that topic. We've got fairly limited resources here for writing those docs so knowing what people need most can help us prioritize.

[2017-08-17 13:35] Zeyad-37 commented on #202
Come on guys play nice. All we want is better documentation/examples so we can use this amazing product

[2017-08-17 16:03] dbof10 commented on #224
This works for me. Thanks

[2017-08-17 16:07] dbof10 commented on #224
Thanks.
[code]
This should work for everyone

[2017-08-17 16:07] #224 closed

[2017-08-17 18:08] passy commented on #224
Thanks!

On Thu, Aug 17, 2017 at 17:09 Cuong Le <notifications@github.com> wrote:

--
--
Pascal Hartig
Software Engineer

http://passy.me/
Twitter: https://twitter.com/passy
Google+: http://gplus.to/passy

[2017-08-21 21:38] passy commented on #222
Friendly ping. :)

[2017-08-21 21:41] jollycopper commented on #222
I was able to fix the issue by setting cpu_filters to my BUCK filter. I think this might be a BUCK issue, not Litho's. :) Feel free to close it.

[2017-08-21 21:41] #222 closed

[2017-08-22 07:32] hussainahmad opened #229 "Rename RenderInfo related methods/classes"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
***V:0.6.0***

## Issues and Steps to Reproduce
I noticed you replaced  `ComponentInfo` with `RenderInfo`  when I run the code  getting error **Error:(143, 61) error: cannot find symbol method create()
Error:(145, 67) error: cannot find symbol method build()**

## Expected Beha

[2017-08-22 08:07] hussainahmad commented on #229
found Issue , it's not `RenderInfo` here it's `ComponentRenderInfo`  ,  thanks to `Java Docs`

[2017-08-22 08:09] hussainahmad commented on #229
![renderinfo](https://user-images.githubusercontent.com/5903522/29555147-23e7173c-873b-11e7-8992-78e044990e33.png)
Feel free to close this Issue

[2017-08-22 08:47] pasqualeanatriello commented on #229
Happy Java Docs helped 👍

[2017-08-22 08:47] #229 closed

[2017-08-23 09:39] passy commented on #141
We now have official support for SnapHelper: https://www.facebook.com/groups/litho.android/permalink/111049929590158/ :)

[2017-08-23 18:27] muraziz commented on #143
We now have official support for SnapHelper: https://www.facebook.com/groups/litho.android/permalink/111049929590158/

[2017-08-23 18:28] #143 closed

[2017-08-26 20:25] vinc3m1 opened #231 "Litho 0.6.1 missing dependencies in pom.xml"
The entire section of dependencies is missing in litho 0.6.1, but present in 0.6.0. Is this intentional?

[code]

0.6.0 pom: https://bintray.com/facebook/maven/download_file?file_path=com%2Ffacebook%2Flitho%2Flitho-core%2F0.6.0%2Flitho-core-0.6.0.pom

0.6.1 pom: https://bintray.com/facebook/maven/download_file?file_path=com%2Ffacebook%2Flitho%2Flitho-core%2F0.6.1%2Flitho-core-0.6.1.pom

[2017-08-26 22:26] passy commented on #231
Apologies again. I've reuploaded with the right deps. I wanted to add a verification step for this but ultimately this should be fixed as soon as `android-maven-gradle-plugin` receives an update ... I'll put it on my list for next week if this remains an issue.

[2017-08-26 22:26] #231 closed

[2017-08-27 07:50] vinc3m1 opened #232 "Missing Javadocs for widget package"
https://fblitho.com/javadoc/com/facebook/litho/widget/Recycler

These show up as google search results, and the classes are clearly there in source and documented but can’t find them in the generated javadoc.

[2017-08-28 11:12] passy commented on #231
The plugin is fixed now. Waiting for the new release and then this shouldn't happen again. :)

https://github.com/dcendents/android-maven-gradle-plugin/issues/61#issuecomment-325265071

[2017-08-29 08:36] passy commented on #232
I'm a bit confused about this. The `.widget` package seems to be online, including the generated specs: https://fblitho.com/javadoc/com/facebook/litho/widget/package-summary.html

I've also tried to search for things like "fblitho widget" and all the links seem to work. The one you provided should have never been a valid link - I think.

Is there anything particular that's missing?

[2017-08-29 09:39] hussainahmad commented on #232
@passy please see this [Recycler](https://fblitho.com/docs/recycler-component) , I hope you will find the Issue

[2017-08-29 10:11] passy commented on #232
Oh! I think that's a bad link that was there from the start. I thought it was the javadoc generation that was buggy again. I'll fix the broken link straight away. Thanks @hussainahmad!

[2017-08-29 11:43] #232 closed

[2017-08-29 12:30] vinc3m1 commented on #232
Weird seems fixed now. The widgets package didn't have things like Text, Image, Recycler etc at all.

[2017-08-29 12:32] vinc3m1 commented on #232
The link I had was 404 at the time of posting, seems fixed now though?

[2017-08-29 12:40] pasqualeanatriello commented on #219
We are aware of this. We are working on a fix. Will keep you posted!

[2017-08-29 12:42] pasqualeanatriello commented on #205
I'd love to see something like that being worked on too. Unfortunately this won't be on our roadmap anytime soon. Let us know if you decide to work on this as I'd love to have a look at the code.

[2017-08-29 12:42] #205 closed

[2017-08-29 12:45] pasqualeanatriello commented on #204
@IanChilds should have fixed this here https://github.com/facebook/litho/commit/ca96aba0fd81b4ca24203243bcc2894713307079.
Please reopen if this still reproduces for you.

[2017-08-29 12:45] #204 closed

[2017-08-29 12:51] passy commented on #232
Yes, I was wrong after all. GitHub seems to allow leaving off the `.html` suffix for hosted files, so your link *should have worked* and there were indeed missing docs. I've updated the internal script we use for generating these so hopefully this shouldn't happen again.

[2017-08-29 12:56] passy commented on #232
I've also set up a 404 check for the page to send me an email. I hope that'll make sure I find out about this before someone posts an issue here. :)

[2017-08-29 13:33] pasqualeanatriello commented on #201
@9h0st  sorry for the super late reply on this. I'm not sure what the problem here is. Is there anything that makes it hard to implement a StaggeredGridLayoutInfo?

[2017-08-29 13:36] pasqualeanatriello commented on #197
@Martin-Hogge how did that work for you? in general multiple Recyclers/Binders would not help with performances here as we already support mixing very different content in one Recycler in an efficient way. Please feel free to reopen the task if this  is still an issue for you

[2017-08-29 13:36] #197 closed

[2017-08-29 13:56] Martin-Hogge commented on #197
I finally avoid the need of using nested Recyclers (which is, as you said, better regarding performances), thank's.

[2017-08-29 15:29] vinc3m1 commented on #232
Awesome thanks for the quick follow up!

[2017-08-31 15:39] Martin-Hogge opened #234 "LithoView.create() does not accept ComponentLayout"
- [ ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
[code]

## Issues and Steps to Reproduce
I want to create a more complexe layout that a simple text to pass on `LithoView.create()` function. I tried to create a layout by using the `Column` `ComponentLayout` but it does not work because the method `LithoView.create()` accept o

[2017-08-31 15:48] mihaelao commented on #234
@Martin-Hogge this is a limitation of the framework that we plan to fix in the future, but for now you'd have to create a new @LayoutSpec-annotated class and use the generated component as the root of your LithoView. Hope that helps!

[2017-08-31 15:48] #234 closed

[2017-09-01 09:32] chakkrachak commented on #66
It would be so great !

[2017-09-01 09:40] ooga commented on #66
I could help you if you have an idea of ​​the implementation

[2017-09-01 09:43] passy commented on #66
Doesn't the new Border effects API provide this now?

[2017-09-01 10:31] muraziz commented on #66
Yes, Border API supports not only border radius, but also other effects such as dotted, dash, multi-color borders.

[2017-09-01 12:20] ooga commented on #66
If we set a background color, it overflow int the corner

[2017-09-01 12:27] muraziz commented on #66
Hey @ooga, thanks for raising this. Could you create a new issue with some screenshot?

[2017-09-04 09:50] ooga opened #235 "The component should be transparent outside the border"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
0.6.2-SNAPSHOT (b0b286e1aeb45fd368b8e2764a6269f1590afa2e)

## Issues and Steps to Reproduce
![screenshot_1504517985](https://user-images.githubusercontent.com/3911114/30021160-b258814c-9166-11e7-82eb-d708ada09ac4.png)

Apply rounded corner and background color on a component

#

[2017-09-04 09:51] ooga commented on #66
@muraziz The issue is created #235

[2017-09-04 09:57] passy commented on #235
cc @xiphirx

[2017-09-04 10:00] xiphirx commented on #235
Thanks for the report, I'll see what I can do about this. The issue is that the background and border are both handled separately, so one does not know of the other.

[2017-09-07 17:01] xiphirx commented on #235
So looking more into this, there are some issues with adding in support. The biggest issue is clipping to an arbitrary border outline. While technically possible, it will introduce pretty big performance issues, especially on lower API levels, since clipPath is only hardware accelerated on APIs 18+. Additionally, clipPath isn't anti aliased with hardware acceleration.

We can definitely add in thi

[2017-09-17 06:31] tatocaster commented on #164
Any updates about this? I have a same issue as the referenced one, but I can not find a proper documentation across the internet. Can you provide some? I bet, it took hours for developers to figure out how to do this, including me (Still confused).

Thanks

[2017-09-17 14:39] passy commented on #164
@mihaelao: Could we include this in the documentation sprint that's upcoming?

[2017-09-18 10:24] mihaelao commented on #164
Sure thing

[2017-09-27 06:08] abeemukthees opened #242 "Question about Litho license"
I heard the good news recently about React being relicensed under MIT.
Does Litho change the license to MIT? Or will Litho stay on the same BSD + Patent license?

[2017-09-27 09:38] passy commented on #242
We don't have anything to announce at the moment.

[2017-09-27 09:38] #242 closed

[2017-10-01 09:17] dbof10 opened #243 "Swipe to refresh"
- [ ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
`0.6.1`

## Issues and Steps to Reproduce
Since `RecyclerViewWrapper` inherits from `SwipeRefreshLayout`, swipe down should show refresh indicator but nothing happens. Because it's not well-documented, is there  any method to activate to refresh?

[2017-10-02 10:18] marco-cova commented on #243
You should pass a PTRRefreshEvent EventHandler as prop (called 'refreshHandler') of your Recycler component.
The pull to refresh should than be enabled and you will be called back on that event when a pull to refresh action is performed.

[2017-10-02 10:30] dbof10 commented on #243
[code]
My code does not work

[2017-10-02 10:32] marco-cova commented on #243
As I said, the @prop is called "refreshHandler"
`
Recycler.create(c)
    .binder(...)
    .refreshHandler(MyComponent.onRefresh(c))
    ...
`

[2017-10-02 12:18] dbof10 commented on #243
it works. Thanks. However , exposing `pTRRefreshEventHandler` make confused.

[2017-10-02 15:30] dbof10 commented on #243
With `Button` it's able do to something like
[code]
With `Recycler` unfortunately, it is not
[code]

[2017-10-11 09:49] passy commented on #206
Fixed by #240

[2017-10-11 09:49] #206 closed

[2017-10-12 01:36] dmayle commented on #80
There's no "supported" way of doing this.  the obtainStyledAttributes() method used to retrieve custom attributes is implemented in ResourcesImpl.java (in AOSP) and it casts the received attribute set to XmlBlock.Parser, which is a package private final class that has hooks into native code.  If you were willing to use reflection to hack into these classes *and* hook into the classloader to do run

[2017-10-16 19:39] eveliotc opened #248 "Auto margin behaves differently compared with Yoga"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
0.6.1

## Issues and Steps to Reproduce
Create a layout that uses auto margins in Yoga such as this one (code below):

![device-2017-10-16-113125](https://user-images.githubusercontent.com/400641/31631041-4f2c6f8e-b26d-11e7-87c1-e3454863aa62.png)

## Expected vs Actual Behavior

[2017-10-16 20:59] lucasr commented on #248
Hello @eveliotc! Long time, no see :-)

Thanks for the report. @emilsjolander, any thoughts on why Litho is inconsistent with Yoga here?

[2017-10-17 08:17] emilsjolander commented on #248
@eveliotc Could you try using Stetho to try to figure out what property may be interfering here? My intuition tells me that perhaps we are using different default values in the two libraries as Litho otherwise just calls through to Yoga.

Have a look at https://fblitho.com/docs/debugging to see how to debug litho with stetho.

[2017-10-24 14:03] danhawkes opened #252 "Tutorial makes use of dependencies that aren't mentioned in 'getting started'"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

Going through the tutorial here: <https://fblitho.com/docs/tutorial#3-creating-a-list-of-items>

In it, you're required to use the `@GroupSectionSpec` annotation, but the lib that contains it isn't mentioned in the [getting started](https://fblitho.com/docs/getting-started) instructions.

[2017-10-24 14:07] passy commented on #252
Thanks for raising this. We have a few internal changes for this that haven't been synced yet but will over the next couple of days.

[2017-10-24 14:07] #252 closed

[2017-10-25 00:24] mullender opened #253 "SectionContext.newEventHandler incorrectly overrides ComponentContext.newEventHandler"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

Captured from logcat output
[code]

[2017-10-25 07:23] passy commented on #253
Do you have steps to reproduce this?

[2017-10-25 13:06] passy opened #254 "CircleCI: Configure parallelism"
Our plan allows for parallel builds but we're not leveraging it at the moment. We should be able to run at least the gradle and buck builds in parallel and cut the wait times down.

There's the yoga build which we shell out to from Gradle, so we may have to run that in advance to prevent stalling.

Documentation here: https://circleci.com/docs/2.0/parallelism-faster-jobs/

[2017-10-25 14:44] mullender commented on #253
I saw this in the logs while investigating an unrelated issue. From reading a bit, overriding package private methods is not allowed, and has buggy behavior on older Android devices.
https://stackoverflow.com/a/23094051

Also feel free to close this issue for lack of reproducibility.

[2017-10-26 13:17] passy opened #255 "CircleCI: Upgrade to 2.0 Infra"
Outline here: https://circleci.com/docs/2.0/language-android/

The Docker contains could help us to cut down flakiness during the setup stage massively and the fix the broken caching we currently see all too often.

[2017-10-28 14:05] zeng1990java opened #258 "sample code UnsatisfiedLinkError error"
Process: com.facebook.samples.litho, PID: 28469
                                                   java.lang.UnsatisfiedLinkError: dlopen failed: "/data/data/com.facebook.samples.litho/lib-main/libfb.so" is 64-bit instead of 32-bit
                                                       at java.lang.Runtime.load(Runtime.java:331)
                                                       at java.lang.S

[2017-10-28 21:05] jozuasijsling opened #259 "Recycler loses state on orientation change"
- [ ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
[code]

## Issues and Steps to Reproduce
`@State` values are reset for child specs of a `RecyclerCollectionComponent` in two cases:

1.  Orientation change triggers recreation of `Activity`
1.  Orientation change triggers relayout of `LithoView`*

*can be reproduced by specifyi

[2017-10-29 18:44] passy opened #262 "Update docs for gradle-plugin 3.0 / gradle 4.0 dependency specifiers"
The new plugin and Android Studio is now stable! \o/ Let's update the docs accordingly.

Should reflect what we already use in the repo. Basically `s/compile/implementation/`, `s/provided/compileOnly/` etc.

[2017-10-29 20:04] passy commented on #258
Please use the template when creating new issues so we can help you. Without code to reproduce and more information, we can't support you.

[2017-10-29 20:04] #258 closed

[2017-10-30 13:06] passy opened #267 "[meta-task] Kotlin outstanding issues"
This issue is to keep track of remaining issues and where applicable work-arounds when using Litho with Kotlin.

## Issues

- [X] Cannot use Kotlin `object`s for specs.
- [X] Annotated methods inside specs require `@JvmStatic`.
- [X] `@PropDefault` doesn't work.
- [x] `@PropDefault` requires `@JvmField` annotation.

## Other Gotchas

- `kapt` is a pig. There seem to be a bunch of invalidation bugs

[2017-10-30 13:17] pavlospt commented on #267
@passy `@PropDefault` does not work for which cases? Is there a branch with Kotlin sample available?

[2017-10-30 13:32] passy commented on #267
@pavlospt I'm working on fixing that today. I think Pasquale's Kotlin sample could use this in a spot.

[2017-10-30 13:34] pavlospt commented on #267
@passy Have you tried `@get:PropDefault val something = 1f` for example ?

[2017-10-30 16:11] dbof10 commented on #243
Reference https://fblitho.com/docs/services

[2017-10-30 16:11] #243 closed

[2017-10-30 17:43] passy commented on #267
@pavlospt Sadly, that generates even worse code for us at the moment. I've got a work-around ready with a long-ish explanation on the commit which should land probably tomorrow.

[2017-10-30 19:06] pavlospt commented on #267
Ok, great! Will wait to check that commit tomorrow :) Please ping it here as well in case I miss it :P

[2017-10-31 11:01] passy commented on #267
@pavlospt As if you'd ever miss a commit! 😜

[2017-10-31 11:09] pavlospt commented on #267
@passy My colleagues usually say the same thing, no wonder why 😂

[2017-10-31 13:36] #262 closed

[2017-11-02 16:21] passy opened #269 "Raise error when using MountSpec annotations in LayoutSpec"
@OnBind / @OnUnbind / @OnMount / @OnUnmount don't have any meaning in a LayoutSpec. We should raise an error to make sure this doesn't go unnoticed by the user.

[2017-11-02 18:05] dsyang commented on #269
This should be fairly simple to generalize since each SpecModel has a list of the delegate methods it expects to see.

[2017-11-05 06:20] VerTiGoEtrex opened #272 "@PropDefault can't compile with BUCK Exopackage resources"
- [X] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
[code]

## Issues and Steps to Reproduce
Try to use a `@PropDefault` with `resId` attribute while compiling using buck exopackage

Result will be something like
[code]

Caused by exopackage requirement that R.* values not be `final`

## Expected Behavior
I assume `PropDefault`

[2017-11-05 20:36] passy commented on #272
That's a known bug that we can't work around at the moment. My understanding is that this isn't a limitation of the annotation processor, but of Java itself, which requires values passed into annotations to be constant.

[2017-11-06 16:26] pavlospt commented on #272
Is this a BUCK limitation? It seems to build just fine for me :)

[2017-11-07 11:27] passy commented on #272
Yes, I believe this is something related to exo package where IDs are changed on the fly. I might be mixing things up, though.

[2017-11-08 02:36] yanex commented on #267
@passy What kind of bugs do you experience with kapt? If you can reproduce something going bad, please submit the issue to kotl.in/issue, and we will fix it shortly.

[2017-11-08 10:45] passy commented on #267
@yanex Hey! Thanks for commenting here. :)

Sadly, the main problem for us has exactly been reproducible. Everyone on our team who's worked with this has found themselves in a situation where compilation would fail for seemingly random reasons and only clearing the caches would help.

In particular, we've seen `NonExistentClass` in stubs appear at times. Again, one `./gradlew clean` and it would b

[2017-11-08 11:02] pasqualeanatriello commented on #267
I would add that the main issue there is that gradle clean and rebuild makes the development cycle really too slow 😢

[2017-11-08 14:17] yanex commented on #267
@passy Please check if you use the new version of kapt (aka kapt3, you can find the setup instructions here https://kotlinlang.org/docs/reference/kapt.html).

The original kapt definitely had architectural problems that led to random `NonExistentClass` errors, that is why it is deprecated now (and will be removed in Kotlin 1.2.20). If you experience `NonExistingClass` errors with `apply plugin: 'k

[2017-11-08 14:19] yanex commented on #267
@pasqualeanatriello Kotlin incremental compilation does not support changes in Java files yet. So whenever the annotation processor generates the different `.java` source, Kotlin recompiles much more files that it is needed.
Hopefully, we are already working on this, and we hope things will become much better very soon.

[2017-11-08 14:36] passy commented on #267
Yes, it was with `kotlin-kapt`. The old one didn't seem to work for us at all. We rely on annotated source files being able to reference the generated files based on them. It seemed like this wasn't support with the old kapt, but works with the new.

I didn't know about the `correctErrorTypes = true` option, though. Perhaps that could help us track this down if it should come up again.

[2017-11-09 00:40] dsyang opened #273 "Setting a component causes runtime crash related to Yoga JNI"
When I try to add litho to another app, it crashes with a JNI error related to Yoga:

`Failed to register native method com.facebook.yoga.YogaNode.jni_YGNodeFree(J)V`

Full trace from `adb logcat`: https://gist.github.com/dsyang/e1f32c9d333307020d4cc35428167169

- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
Using litho 0.8

[2017-11-12 14:31] passy commented on #273
That's strange. Thanks for the repo with the repro code, I'll look into this in more detail tomorrow. I wonder if this could be because we rely on a slightly outdated version of Yoga now. Perhaps overriding this to work with a Yoga snapshot release would work as temporary fix until we have a new stable release out.

[2017-11-13 10:57] passy commented on #273
This is really weird. So, I've tried to force this to use a Yoga snapshot, but that doesn't change a thing. I've now tried to build our sample app against the prod artifacts like you've done in your project and it continues to work just fine.

I get the feeling that this has something to do with the way the app is set up. I'm honestly not quite sure what the mock and prod flavor do and how the who

[2017-11-13 11:06] passy commented on #273
Nope. I was thinking too complicated. Just turn `minifyEnabled` to `false` and everything is fine.

![screenshot 2017-11-13 11 02 50](https://user-images.githubusercontent.com/9906/32722595-47605e72-c862-11e7-9db5-440de2f41e30.png)

Turns out the APK doesn't even have a `com.facebook` namespace in it. Even in the debug build:

![screenshot 2017-11-13 11 05 11](https://user-images.githubusercontent

[2017-11-13 11:06] #273 closed

[2017-11-15 18:23] boxme commented on #259
Fixed in commit 44e2f83

[2017-11-17 14:20] dsyang opened #276 "TextAppearance_AppCompat_Title not rendered properly in TextSpec"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
    lithoVersion = '0.8.0'

## Issues and Steps to Reproduce
  https://imgur.com/a/A8zEZ
- The first "All TO-DOs" is a TextView with `mTextView.setTextAppearance(R.style.TextAppearance_AppCompat_Title)`
- The section "All TO-DOs" is a TextSpec with
`Text.create(c, 0, R.style.Te

[2017-11-17 14:33] passy commented on #276
Could this be because of #204?

[2017-11-17 14:40] passy commented on #276
Yes, it is. Since this should now be thread-safe, I'm reenabling this.

[2017-11-17 14:46] passy commented on #276
D6358856

[2017-11-19 06:59] drd opened #277 "Are TreeProps in Sections just not yet implemented?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
`0.8.0` (and `master` too)

## Issues and Steps to Reproduce
Attempt to pass a `TreeProp` from a parent component into a `Section`. It will be `null`.

## Expected Behavior
I would like to be able to use `TreeProp`s with `Section`s :)

## Link to Code
https://github.com/faceboo

[2017-11-19 07:35] drd commented on #277
On further reading, I believe the linkage is broken when creating a `SectionContext` from a `ComponentContext`. The `TreeProps` of the `ComponentContext` is not copied to the new `SectionContext`.

[2017-11-20 09:37] pavlospt commented on #277
@drd Since `SectionContext` extends `ComponentContext` `TreeProps` live on the super class. You can chech that one here. https://github.com/facebook/litho/blob/563b251179e3d34d1559be6f4070f4a226a0cf79/litho-sections-core/src/main/java/com/facebook/litho/sections/SectionContext.java#L114

Do you have a link for the broken linkage you are mentioning?

[2017-11-20 09:42] passy commented on #277
cc @pasqualeanatriello

[2017-11-20 12:14] #276 closed

[2017-11-20 23:13] drd commented on #277
Here is an example: https://github.com/drd/litho/tree/drd/tree-props

I put it in the `samples-codelab` module, if you run that you will get an NPE. It appears to be crashing during `LithoView#onMeasure`, so perhaps the linkage is broken there. (I even tried a little hack to allow the `SectionContext` to explicitly retrieve and set its `TreeProps` from the `ComponentContext` but that did nothing…

[2017-11-21 09:11] Martin-Hogge opened #278 "Spec recreated when the visibility of the soft keyboard change"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
[code]

## Issues and Steps to Reproduce
I have a Spec that create a Recycler that might contains multiple components of different types (text, checkbox, radio buttons, etc.).

Here is the main spec :

[code]
And here is the spec that will build the correct component depending

[2017-11-21 10:28] astreet commented on #278
I can't see your Activity code, but I imagine what's happening is that the soft keyboard is causing your Activity to be recreated via configuration change in the same way it would be if you rotate the phone. You can confirm this by handling configuration changes yourself as per https://stackoverflow.com/questions/5913130/dont-reload-application-when-orientation-changes, or setting the keyboard to

[2017-11-21 11:21] Martin-Hogge commented on #278
Thank you for your suggestion.

I think (but I might be wrong) that the configuration changes is not the issue here because I set a breakpoint on each of these method of my `Activity`: `onCreate()`, `onResume()`, `onPause()` and `onDestroy()` and when the issue happen, none of my breakpoint get triggered. But the one inside `LithoActivitySpec#onCreateLayout()` is being triggered.

I attach you a s

[2017-11-21 12:37] sjthn opened #279 "Pull-To-Refresh - How to hide the spinner after data fetched?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
***Add the version of the litho packages you use. You can paste the dependency
section of the gradle file if you have one.***
Litho version: 0.8.0
Sections version: 0.8.0

I am using the new Sections API to display a list of items. I have pull to refresh enabled. When pulled, a

[2017-11-21 12:45] dsyang commented on #279
Thanks for raising the question @sjthn  you should dispatch a loading event with a SUCCEEDED loading state to instruct the RecyclerCollectionComponent you have completed data fetching. (See https://fblitho.com/docs/communicating-with-the-ui#oneventloadingeventclass)

We should definitely link this part in the services documentation thanks for bringing it to our attention! If you have any additiona

[2017-11-21 12:49] dsyang commented on #277
I don't believe we've gotten around to implementing tree props in sections. Would love it if you wanted to contribute! I'm AFK right now so I can't help with many pointers now but one crucial step is to make sure treeprops related code is generated when running the annotation processor. Take a look at TreePropsGenerator.java and see if it's used in any of the SpecModel#generate() methods.

[2017-11-21 15:17] sjthn commented on #279
Thanks @dsyang for quick response. That works!

I changed my dataLoaded event listener:
[code]

Would be really helpful if linked in docs.

[2017-11-21 21:30] jbarr21 opened #280 "ViewPager of LithoViews only renders first screen"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
[code]

## Issues and Steps to Reproduce
- Install [forked Conductor sample app with Litho](https://github.com/jbarr21/Conductor/tree/litho-pager) using `./gradlew :demo:installDebug`
- Launch the app and tap "View Pager"
- Observe Page 0 renders correctly
- Scroll to Page 1, o

[2017-11-22 09:51] passy commented on #280
I don't know much about that framework or ViewPagers, but have you checked if `inflateView` is called by setting a breakpoint there?

[2017-11-22 14:14] pasqualeanatriello commented on #280
cc @IanChilds that knows more about Litho+ViewPager

[2017-11-22 14:14] #279 closed

[2017-11-22 14:18] pasqualeanatriello commented on #277
TreeProps should work within a Section hierarchy. What is not supported at the moment is to share TreeProps between Components and Sections. This is something we'd love to support but never had the time for. Contributions there are super welcome of course :)

[2017-11-22 14:26] pavlospt commented on #277
@pasqualeanatriello What do you mean by share?

[2017-11-22 15:11] pasqualeanatriello commented on #277
suppose you create some TreeProps in a Section. Now you render a Component from that Section. The Component will not inherit any TreeProp from the Section.
Similarly if you create a Section inside a Component's OnCreateLayout.

[2017-11-22 15:26] pavlospt commented on #277
I think that would need another annotation variable then, on whether you want the Component or Section to inherit those `TreeProps` or not! Otherwise forcing a share of `TreeProps` might feel unexpected. What do you think?

[2017-11-22 16:17] IanChilds commented on #280
Unfortunately, right now Litho fails to work when a LithoView is used as a direct child of a ViewPager. You have a few options:
1. Add

[code]
to `DemoApplication.onCreate()`.

2. Wrap the LithoView in a FrameLayout.
3. You can create the ComponentTree that LithoView.create() creates manually, and set incrementalMount to be false.

I suggest that (1) is the easiest. It's the approach we're moving

[2017-11-22 16:17] #280 closed

[2017-11-22 20:43] vinc3m1 opened #281 "Add support for Text.Builder.extraSpacingSp(float sp)"
Currently the extraSpacing value on Text doesn't support Sp.

Would open a PR, but CLA approvals and such 😢

[2017-11-22 21:54] pavlospt commented on #281
From what I see only one line would be needed in order to generate `extraSpacingSp` as a *very* quick solution.

`BuilderGenerator.java` L:421

[code]

Although that would generate `*Sp` methods for other attributes as well, so I am not quite sure how ok the Litho team is with it.

The way I see a better solution is to add another `ResType` like: `DIMEN_OFFSET_FOR_SP` and only generate `*Sp` metho

[2017-11-23 09:39] IanChilds commented on #281
Hi @vinc3m1, @pavlospt! @pavlospt, I think your quick solution would be fine - thanks!

[2017-11-23 09:57] pavlospt commented on #281
@IanChilds Hey, thanks for the reply! If it makes sense to generate it for the rest of the attributes though let me know and I can open a PR :)

[2017-11-23 17:20] pavlospt commented on #281
Opened the above PR for it! :)

[2017-11-24 18:08] sjthn opened #283 "How to lazy load list items?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version

    // litho
    implementation 'com.facebook.litho:litho-core:0.8.0'
    implementation 'com.facebook.litho:litho-widget:0.8.0'
    compileOnly 'com.facebook.litho:litho-annotations:0.8.0'

    annotationProcessor 'com.facebook.litho:litho-processor:0.8.0'

    // Sections

[2017-11-24 19:19] dsyang commented on #283
It appears you're replacing the existing list in `@State List<Feed> feeds` with the newly fetched list in `updateData()`   does your service return just the new 15 items or the new items plus the old ones?

If the former, changing your update data method to append the newly fetched items should work.

[2017-11-25 12:46] sjthn commented on #283
Oh got it! So I changed my else part like this and it works:

[code]

[2017-11-25 16:35] dsyang commented on #283
Looks good!  Only thing I'd suggest is using one of the [non-default](https://docs.oracle.com/javase/7/docs/api/java/util/ArrayList.html#ArrayList(java.util.Collection)) [constructors](https://docs.oracle.com/javase/7/docs/api/java/util/ArrayList.html#ArrayList(int)) for ArrayList since you already know how big the initial ArrayList will be.

[2017-11-25 16:37] sjthn commented on #283
Sure! Thanks @dsyang

[2017-11-25 16:37] #283 closed

[2017-11-27 21:23] vinc3m1 opened #284 "AbsoluteSizeSpan doesn't respect dip=true"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
0.8.0

## Issues and Steps to Reproduce
Setting text wrapped with an `AbsoluteSizeSpan(sizeDip, true)` results in `sizeDip` always being used as `px` instead of `dip`.

I compared this with a regular TextView hosting the same content and the Litho text is way smaller. Similarly

[2017-11-28 19:27] vinc3m1 commented on #284
Updated with bug example. Also, this could be a bug in TextLayoutBuilder as well, didn't have time to dig in and see where the root cause was yet.

[2017-11-28 19:39] pavlospt commented on #281
@passy or @IanChilds you can close this one as well :)

[2017-11-28 19:40] pavlospt commented on #284
@vinc3m1 great, thanks! Will try to investigate as well!

[2017-11-28 20:07] vinc3m1 commented on #281
I trust ya'll. I'll reopen if this is still an issue after next release.

[2017-11-28 20:07] #281 closed

[2017-11-28 20:59] pavlospt commented on #284
@vinc3m1 Apparently it seems that it respects the `dip=true` it just does not scale the way someone would expect it to! You can check this if you increase the value of `size` in `AbsoluteSizeSpan`. Still trying to debug why `TextLayoutBuilder` does not measure the appropriate size. Will update if I have anything new!

[2017-11-28 21:12] vinc3m1 commented on #284
It always treats the size as px, even if `dip=true`. So yes, the size will change, but always as `px`, that's why the regular TextView is so much bigger, because it's multiplied by density.

[2017-11-28 21:13] vinc3m1 commented on #284
Put another way, if you change `dip=false`, the TextView implementation will change, but the Litho one will not.

[2017-11-28 21:26] pavlospt commented on #284
Yeap, that's what I ended up with as well! Attaching a screenshot:
![24197319_10214722912605863_834870601_o](https://user-images.githubusercontent.com/1070871/33344690-85eeb3aa-d492-11e7-930b-f93bc0c2c500.jpg)

That's an `AbsoluteSizeSpan` of 96 `dip` with a `Text` using `textSizeSp(24)` and a `TextView` using `setTextSize(TypedValue.COMPLEX_UNIT_SP, 24)` as well.

Not sure when `TextLayoutBuilder

[2017-12-05 02:52] vinc3m1 opened #285 "TreeProps don't support types with generics"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
0.11.0

## Issues and Steps to Reproduce
Set a @TreeProp with a generic, like `Observable<Integer>`.

## Expected Behavior
Compiles.

## Link to Code
https://github.com/vinc3m1/litho/commit/4b164a6dd08dbfcdf9340a8a3200ab56be85a218

[2017-12-06 16:24] muraziz commented on #66
Rounded corner borders are already supported, now you can add border radius like this:
[code]
See https://fblitho.com/docs/borders

[2017-12-06 16:24] #66 closed

[2017-12-07 02:30] VerTiGoEtrex opened #287 "litho-stetho includes litho-annotations as a runtime dependency"
- [X] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
***Add the version of the litho packages you use. You can paste the dependency
section of the gradle file if you have one.***

[code]

## Issues and Steps to Reproduce
***Replace this with steps to repro your issue.***
`litho-stetho` includes `litho-annotations` as a runtime de

[2017-12-07 02:31] VerTiGoEtrex commented on #287
Also, very sad to see Stetho support removed... but excited to see what other devtools are planned!

[2017-12-07 11:31] passy commented on #287
Yes, this may seem a bit odd, but it is (or rather was) not an accidental inclusion. The Stetho integration uses the annotations to look up annotated values at runtime. This is why we don't get away with a `compileOnly`/`provided` dependency.

The `DoNotStrip` duplication is annoying though. If that continues to be an issue, please let us know, and I'll look into it.

Closing as `litho-stetho` is

[2017-12-07 11:31] #287 closed

[2017-12-07 15:13] Martin-Hogge commented on #278
I poorly explained the issue: it's ok that the view get re-created on configuration changes but if their is no `onSavedState` behavior, how do I recreate the `LithoView` with its previous state? As a reminder my `LithoComponent` contain a `Recycler` that itself contain `EditText`, `Checkboxes`... When the configuration change, the `Recycler` is re-created and so all are all the `EditText`...

Mayb

[2017-12-08 13:30] bradroid opened #288 "Using DataDiffSection for heterogeneous data"
I have a large RecyclerView with lot of different view types and would like to migrate to Litho. I have some views which are quite hard to migrate:

- item with graph range picker (implemented as custom android view)
- item which uses youtube SDK for youtube video
- item which provides picking a location using google maps
- item which uses TextInputLayout for floating label effect

So due to migra

[2017-12-08 14:50] passy commented on #288
cc @mihaelao @pasqualeanatriello

[2017-12-08 15:00] mihaelao commented on #288
Hey @bradroid, the "homogeneous" term refers to the type of data contained by the list that is passed to the DataDiffSection to render. I think it's a bit misleading since you could simply pass a list of `Object` items that can be of different actual types, do `instanceof` checks in the `RenderEvent ` handler and render the data with the appropriate component for its type. However, when your items

[2017-12-08 15:09] bradroid commented on #288
Thanks!

[2017-12-08 21:24] pavlospt commented on #284
Is there any update on this :) ?

[2017-12-11 17:31] sjthn opened #289 "List scrolls to last position after data is reset after swipe to refresh"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
***
    // litho
    implementation 'com.facebook.litho:litho-core:0.11.0'
    implementation 'com.facebook.litho:litho-widget:0.11.0'
    compileOnly 'com.facebook.litho:litho-annotations:0.11.0'

    annotationProcessor 'com.facebook.litho:litho-processor:0.11.0'

    // Sect

[2017-12-12 13:45] IanChilds commented on #284
It looks like this is something that should be supported by TextLayoutBuilder, but isn't?

[2017-12-12 13:45] IanChilds commented on #284
I think we should probably try to fix it at that level? @xiphirx, what do you think?

[2017-12-12 14:22] pavlospt commented on #284
To add some more info, I noticed that the measured width was the same for different values on the `AbsoluteSizeSpan`. Not sure if it helps!

[2017-12-12 17:31] passy commented on #288
Closing as this appears to be answered. :)

[2017-12-12 17:31] #288 closed

[2017-12-12 19:26] xiphirx commented on #284
Just ran a simple test with just TextLayoutBuilder and it does indeed seem like the issue is there, so yes we'll have to fix it there.

[2017-12-13 21:14] vinc3m1 opened #290 "Add support for line break strategy in text"
Since TextLayoutBuilder added the APIs needed (https://github.com/facebook/TextLayoutBuilder/pull/12), we can add these in Litho now for the Text spec.

[2017-12-15 08:06] DemoDu opened #291 "build failure on win: BUILD FAILED: No native platforms detected. Probably Android NDK is not configured properly"
build failure on win: BUILD FAILED: No native platforms detected. Probably Android NDK is not configured properly

No way out

[2017-12-15 09:55] passy commented on #291
@DemoDu Please follow the template that we provide and fill in as many details you can provide so that we can actually help you. Feel free to open another issue with the missing information.

[2017-12-15 09:55] #291 closed

[2017-12-15 13:03] DemoDu commented on #291
Thanks for the reply, I git clone this project
Follow the prompts
$ buck fetch sample
$ buck install -r sample
Inside my environment has been installed buck and downloaded in the mac environment installed Android-NDK and Android-SDK and has been set up ~ / .bash_profile inside the environment variables
But the last implementation of the $ buck fetch sample command will prompt me the following erro

[2017-12-15 15:25] passy commented on #291
Thanks for additional details, @DemoDu. This is not a Litho issue but a problem with your Buck setup. Perhaps following the Gradle setup is a bit easier.

Otherwise, please follow the guidelines in the [Buck docs](https://buckbuild.com/setup/getting_started.html) which define a bunch of environment variables which are probably not set up correctly.

[2017-12-15 16:28] mihaelao commented on #203
closed in #236

[2017-12-18 22:49] #284 closed

[2017-12-19 01:37] #290 closed

[2017-12-20 00:39] dsyang opened #292 "TextSpec doesn't respect "android:textColor" style"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
v0.11.0

## Issues and Steps to Reproduce
I have a text spec that's created with a style:
[code]
but the text is incorrectly colored. According to the TextAppearance.AppCompat.Title style, `android:textColor="?attr/textColorPrimary"`

If I explicitly set the color to be `textCo

[2017-12-23 04:01] dbof10 opened #294 "Radius support"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
[code]

[code]

## Issues and Steps to Reproduce
Is there a better way to make circular for a component? I'm having 3 issues for instance
1.
[code]
 - Doing in this way causes me an unexpected behavior as image below

![screen shot 2017-12-23 at 10 51 09 am](https://user-images

[2017-12-23 22:23] GrzegorzDyrda commented on #164
Guys, any update on this one?
I just started playing with Litho, and I'd love to know how to properly handle state changes...

[2017-12-25 05:58] hussainahmad commented on #164
@GrzegorzDyrda look in to this, [Managing State in Litho](http://www.jayrambhia.com/blog/android-litho-state) , demo is only to understand how state change working because many classes and method are deprecated now in latest version

[2017-12-25 10:31] passy commented on #164
@GrzegorzDyrda We do show an example in our main sample app how to perform state updates and @mihaelao gives a great summary of the way this works [here](https://github.com/facebook/litho/issues/156#issuecomment-298567566), but we don't have a dedicated page on the topic yet.

[2017-12-28 00:12] cushon opened #295 "NoSuchFieldError: savedParameterNames"
There is a reference to `com.sun.tools.javac.code.Symbol.MethodSymbol.savedParameterNames` in `MethodExtractorUtils`:

https://github.com/facebook/litho/blob/ce87d198c8f5ac0cee2c9302cb48076b06253ef6/litho-processor/src/main/java/com/facebook/litho/specmodels/processor/MethodExtractorUtils.java#L99

That field is an internal implementation detail of javac and is not part of the supported API. It is

[2017-12-28 21:54] pavlospt commented on #295
@cushon are we sure that this is something that works? Can you please share some info on how you tested it? Seems to me that at least a previous existing functionality looks broken on a quick look at the code diff, especially at the line http://hg.openjdk.java.net/jdk/jdk/rev/89f6aa26fd6c#l1.36 (the `i` is not being incremented properly like it was before). Also is this something final that will e

[2017-12-29 16:38] dbof10 opened #296 "Strange UI behavior with Column"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
0.11

## Issues and Steps to Reproduce
I'm using a `HorizontalRecycler` with each item

[code]
![colum](https://user-images.githubusercontent.com/10725747/34441735-3d6f91aa-ecf0-11e7-8424-194f188b4b1e.gif)
As noticed, the first item is correct. the rest are laid out improperly

[2017-12-29 22:32] cushon commented on #295
@pavlospt thanks for catching that. As I mentioned in the [compiler-dev thread](http://mail.openjdk.java.net/pipermail/compiler-dev/2017-December/011492.html) I think the patch is OK, and the index that isn't incremented is effectively dead code.

For JDK 10 it should be sufficient to compile with `-parameters` and then use the names on the symbols returned by `getParameters()`. With JDK 8 and 9 s

[2017-12-29 22:46] pavlospt commented on #295
@cushon thanks for the follow up :)

[2018-01-02 15:21] passy commented on #295
Hey @cushon! Thanks for reporting this. I'm kinda jealous of you for tracking the JDK so closely. We have to maintain compatibility with JDK 7, which means we make use of `-parameters` yet.

Because of the limitation stated in the patch description itself, I had to implement a workaround for this anyway. We are now persisting parameter names in `META-INF` as resources during codegen, which should

[2018-01-03 11:30] passy commented on #295
I went with a try/catch to maintain backwards compatibility. I hope this works for you!

[2018-01-03 15:07] cushon commented on #295
Thanks - that achieves binary compatibility with JDK 10, but not source compatibility. WDYT about `Symbol.MethodSymbol.class.getField("savedParameterNames").get(methodSymbol)`?

[2018-01-04 11:53] passy commented on #295
Sounds good to me. Thanks, I'll make that change!

[2018-01-05 22:32] vinc3m1 opened #298 "Not using @Deprecated annotation"
The deprecated `background(Reference)` function in `Component` is throwing an ErrorProne error of [DepAnn](http://errorprone.info/bugpattern/DepAnn) for not using a full `@Deprecated` annotation on the method.
https://github.com/facebook/litho/blob/42fbaa0ab4329cb78655ecf785217ee1bc5fde83/litho-core/src/main/java/com/facebook/litho/Component.java#L960-L961

Ideally, would be nice to have a check f

[2018-01-05 23:58] vinc3m1 opened #299 "Remove usage of @RestrictTo"
`@RestrictTo` is actually not meant to be general purpose or used external to the support library, see: https://github.com/google/error-prone/issues/812#issuecomment-349119297

We should probably remove it from Litho so error prone won't complain for others building from source (like me 😄).
https://github.com/facebook/litho/blob/27b238c880254042ee97b473f58495c3ce42961d/litho-core/src/main/java/com

[2018-01-08 09:15] IanChilds commented on #299
@passy - looks like you added these?

[2018-01-08 09:16] IanChilds commented on #298
Good point. I'll fix this.

[2018-01-08 09:49] passy commented on #299
Ah, thanks for the info. I thought this would get IntelliJ support at some point and we could get something close to a `@hide` we can use.

I'll remove the few usages we have.

[2018-01-08 11:00] #298 closed

[2018-01-08 11:33] #299 closed

[2018-01-10 21:00] vinc3m1 commented on #295
friendly bump :) will help clean up my import script to have source compatibility here before the next release

[2018-01-10 22:33] passy commented on #295
Thanks for the reminder. I'll make that change tomorrow!

On Wed, 10 Jan 2018, 21:00 Vince Mi, <notifications@github.com> wrote:

--
timezone: eu/london | utc+1
@passy

[2018-01-11 08:49] erhu commented on #291
Add
[code]
to your .buckconfig file.

[2018-01-11 10:26] Saketme opened #300 "How does clipToOutline work?"
- [X] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
0.11.0

## Sample code
[code]

## Expected Behavior
The solid color component's corners should get clipped by its parent Column because it has `clipToOutline()` set to true. Is there something I am missing here?

[2018-01-13 07:02] yschimke opened #302 "Are docs out of date"
https://fblitho.com/docs/state

The checkbox example and anything with srcRes appears out of date, is this drawableRes?

Can these examples be backed by compiling code versions that you can click through to?

[2018-01-15 09:41] IanChilds commented on #302
Yeah, looks like this should be `drawable`. I'll change it.

I don't think that we'll be supporting the second half of your request right now, nice as that would be.

[2018-01-15 09:41] #302 closed

[2018-01-15 13:15] marco-cova commented on #296
Hi @dbof10, the information provided are not sufficient to debug your issue. There's no `HorizontalRecycler` component. There's a `Recycler` and an `HorizontalScroll`.. and also we have a `RecyclerCollectionComponent` in the sections.widget package... which one is it?

Your example also shows images, and it looks like they are the ones affected by this bug"bug", but your code doesn't have images.

[2018-01-15 14:41] dbof10 commented on #296
I'm sorry for my bad description. `HorizontalRecycler` I meant is `RecyclerCollectionComponent` with ` ListRecyclerConfiguration(LinearLayout.HORIZONTAL,..,..)`. I'm trying to reproduce this bug. I will edit the example code and let you know soon

[2018-01-18 15:26] dbof10 commented on #296
I close it for now since I can't reproduce. I will continue observing this potential bug.

[2018-01-18 15:26] #296 closed

[2018-01-19 11:25] #295 closed

[2018-01-22 12:06] #300 closed

[2018-01-22 17:24] IgorGanapolsky commented on #190
@emilsjolander I too am wondering - what do you mean by

Is there a sample of how to effectively use both in production?

[2018-01-23 01:42] vinc3m1 opened #303 "ErrorProne findings"
Since you wanted me to report any error prone checks I ran into, just letting you know what you're triggering. These are all suppressed so they're not blocking anything:

 - [MissingCasesInEnumSwitch](http://errorprone.info/bugpattern/MissingCasesInEnumSwitch)
    - BuilderGenerator.java
    - PropValidation.java
    - Border.java
 - [GuardedBy](https://github.com/google/error-prone/blob/master/do

[2018-01-23 18:28] passy commented on #303
Thanks for the list, Vince! I'll try to get them fixed.

[2018-01-26 14:20] passy commented on #253
Merged https://github.com/facebook/litho/commit/b9c379dc960adae4bdf12d499299b602b3efc21e

[2018-01-26 14:20] #253 closed

[2018-01-27 01:56] vinc3m1 opened #305 "ViewBinder.unbind() isn't called in RecyclerBinder.InternalAdapter.onViewRecycled"
ViewBinder.unbind actually isn't called at all except through ViewCompatComponent. This is causing problems for me since I have custom recycling/teardown work to do in the onViewRecycled() equivalent.

[2018-01-29 19:15] xiphirx commented on #294
Since you're using fresco, you should use `RoundingParams` to make your images circular, then you won't be running into these issues.

[2018-01-31 01:18] vinc3m1 opened #306 "Add ViewGroup parent param to ViewCreator"
feature request to help with migrations :)

[2018-01-31 01:46] dsyang commented on #306
I've ran into this issue before too and would really like to see it implemented :)

[2018-02-01 21:11] vinc3m1 commented on #303
Another one found here:
https://github.com/facebook/litho/blob/b5764a095151fe5a248857855a991262144adcae/litho-sections-widget/src/main/java/com/facebook/litho/sections/widget/RecyclerCollectionComponentSpec.java#L116

[2018-02-06 07:13] ar-g commented on #234
Any updates on this? When do you plan to release?

[2018-02-06 09:12] IanChilds commented on #234
This now works as you hope. `Column.create(c)` returns a `Component`, so you can pass that to `LithoView.create`

[2018-02-06 09:13] IanChilds commented on #234
I don't think there is a full release with that change in, but if you use a snapshot release then you will get that behaviour.

[2018-02-06 09:54] ar-g opened #310 "Is it possible to nest vertical RecyclerCollectionComponents inside each other?"
For example if DataDiffSection will contain another RecyclerCollectionComponent. For now, it seems not possible to nest vertical RecyclerCollectionComponents.

[code]

Using one AdPageParamSpec works but AdPageParamRecycler doesn't.

[code]
How should I handle such cases?

[2018-02-06 11:43] marco-cova commented on #310
Nesting two vertical scrolling RecyclerCollectionComponent is not supported. Only an horizontal one inside a vertical one.

[2018-02-06 11:43] #310 closed

[2018-02-06 12:03] ar-g commented on #310
@marco-cova Any ideas on how to implement behavior when the list contains sublists? For now, I'm mapping sublist to each item of the list but it seems to be a bit cumbersome. It is forcing the list to know unnecessary details of sublists.

[2018-02-06 16:43] passy commented on #303
The warning is absolutely correct, but this one seems harder to fix then most of the others.

[2018-02-07 02:02] VerTiGoEtrex opened #311 "What IDE do the main contributers use"
Hi, just curious what IDE (if any) the main contributors use to develop Litho?

I see there's a build.gradle now, but the entire project is centered around BUCK as the main build system, and Android Studio/Intellij support seems a tad light, so I guessed you used something besides Android Studio?

[2018-02-07 10:06] passy commented on #311
Hey @VerTiGoEtrex! These kinds of questions are usually better discussed in chat. :)

The core team members all use IntelliJ or Android Studio. We consider Gradle the main build system for the open source version, but use Buck to build Litho as part of our Monorepo.

[2018-02-07 10:06] #311 closed

[2018-02-07 10:57] ar-g opened #312 "ViewRenderInfo isFullSpan doesn't work for StaggeredGridRecyclerConfiguration"
## Version
0.11.1-SNAPSHOT

## Issues and Steps to Reproduce
isFullSpan() property doesn't work for ViewRenderInfo

## Expected Behavior
isFullSpan() works in the same way as ComponentRenderInfo does

## Link to Code

[code]

![screenshot from 2018-02-07 12-50-49](https://user-images.githubusercontent.com/3674446/35912878-879b5acc-0c06-11e8-9010-19720a12ac8f.png)

[2018-02-09 16:51] #305 closed

[2018-02-09 20:03] ar-g opened #313 "Compile-time error when passing generated class instance into generated spec"
## Issues and Steps to Reproduce
During compilation, I'm getting an error:

`
AdPageListSpec.kt: (38, 40): Type mismatch: inferred type is GlideRequests but NonExistentClass was expected
`

## Link to Code
[code]
First I thought that the problem is in the dependencies order, but it is not. It seems that code generation tasks run in parallel which is causing this issue. Does anybody knows how to tu

[2018-02-12 15:58] passy commented on #313
This is a known issue with kapt, the Kotlin annotation processor. Sadly, there isn't anything we can do from our side. It often helps to properly clean your project and rerun it which in my experience works almost every time. If it doesn't, you'll have to bite the bullet and write this one in Java.

[2018-02-12 15:58] #313 closed

[2018-02-12 19:06] sjthn commented on #289
I finally solved this by removing DataDiffSection from onCreateChildren and instead of that using a for loop for adding each Card component using SingleComponentSection.

[code]

[2018-02-12 19:06] #289 closed

[2018-02-13 09:18] ar-g commented on #71
@IanChilds API for measuring custom views such as EditText is unclear. Moreover, in EditText example to measure EditTextSpec we create a new instance of EditText each time. Is this a common approach to implement onMeasure for any view capable to resize itself dynamically?

[2018-02-14 07:15] ar-g opened #315 "Error when generating prop for LatLng"
Basically, the error is:

[code]
Does it mean that it is not possible to use such classes as props?

[2018-02-14 11:07] passy commented on #315
@ar-g Could you provide more context? Generally, there are no exclusions for what can be used for Props. The only class of props that can cause problems are those that are generated themselves.

[2018-02-14 18:39] #306 closed

[2018-02-18 21:11] ar-g commented on #315
@passy It seems like this issue was related to specific build. This issue is not reproducible anymore.

[2018-02-18 21:11] #315 closed

[2018-02-19 07:20] ar-g opened #316 "Occasionally UI jumps to the new content position after setComponentAsync twice with StaggeredGridRecyclerConfiguration"
Our use case is to show part of the content, load and show full content.  But sometimes after second set UI jumps to the place where new content inserted.
[code]
The AdPage is a mixed bag of Components with .isFullSpan(true)
and ViewRenderInfos. It seems to work fine without StaggeredGridRecyclerConfiguration, I also noticed that if I cache model for some components UI won't jump too.

[2018-02-19 07:29] ar-g opened #317 "java.lang.IndexOutOfBoundsException: Inconsistency detected."
Quire nasty exception, happens rarely and randomly

` java.lang.IndexOutOfBoundsException: Inconsistency detected. Invalid item position 0(offset:-1).state:9 com.facebook.litho.widget.LithoRecylerView{4300bed8 VFED.... ......ID 0,0-800,1280}, adapter:com.facebook.litho.widget.RecyclerBinder$InternalAdapter@42870d80, layout:com.facebook.litho.widget.StaggeredGridLayoutInfo$LithoStaggeredGridLayoutM

[2018-02-19 09:36] passy commented on #317
Do you have any demo code or steps to reproduce?

[2018-02-19 10:51] ar-g opened #318 "How to avoid recreation and mount of expensive components?"
We have several expensive components(MountSpecs) such as MapView and PublisherAdView. It takes really long time to initialize and load them, moreover, it creates junk and makes serious performance hit. We want to create them once and never destroy until exit screen. Is it possible to achieve such effect?(isPureRender = true and @ShouldUpdate(onMount = true) don't help)

[2018-02-19 10:55] passy commented on #318
What you describe should help. What does the rest of your setup look like?

[2018-02-19 12:37] ar-g commented on #318
We are logging onCreateMountContent callback and when scrolling back and forth most of onCreateMountContent is triggering for there two MountSpecs

[code]

**Version 0.12.0**

[code]

[2018-02-19 14:21] passy commented on #318
You may want to specify an `isSameItem` handler as described here: https://fblitho.com/docs/sections-building-blocks#datadiffsection

[2018-02-19 15:04] ar-g commented on #318
@passy these callbacks(iiSameItem/isSameContent) are triggered only when items in list are changing. This problem appears without changing items in a list, but just when scrolling a list back and forth(10 items down and back).

[2018-02-20 08:27] ar-g commented on #318
@passy placing expensive MountSpecs to the beginning of the list, they stopped recreating with `onCreateMountContent`. I guess it has to do with poolSize(although poolSize = 10 has no influence). Any ideas what may cause a problem?

Another issue we found is that `onMount` is still being called each time we're scrolling. Is there is a way to avoid calling `onMount` each time (code inside `onMount`

[2018-02-20 09:40] ar-g commented on #318
I also noticed that if I rearrange list so that MountSpecs won't be visible at the beginning of the list. They all will be recreated with `onCreateMountContent` each time when user scroll through them.

[2018-03-10 20:35] yigit opened #324 "text styles are not working properly inside a column"
version: `0.12.0`

If I create the following layout:
[code]
It looks like [this][1]

But if i remove the column and create a Text directly, it looks like [this][2] (expected result)
[code]

Not sure what I'm doing wrong here but seems like text styles are not working properly when there is a Column parent. There are no other UI elements here, the result is just put into a `LithoView` and set as th

[2018-03-10 22:27] pavlospt commented on #324
Have you tried using the other constructor where you can pass `defaultStyleAttrs` and `defaultStyleRes`?
https://github.com/facebook/litho/blob/7706f4e1d6f35af374371e8b343151e59a333b19/litho-core/src/main/java/com/facebook/litho/Column.java#L67

[2018-03-11 02:17] yigit commented on #324
Not sure what you mean but I've also tried
`Text.create(c, R.attr.textAppearanceListItem, 0).text("Hello!")`
same problem, it works outside column and breaks inside a Column.

[2018-03-11 09:55] pavlospt commented on #324
I mean Column’s constructor :)

[2018-03-11 19:13] yigit commented on #324
nope, doesn't work.

[2018-03-11 20:26] topwu commented on #324
Seems like when Text is created as a child of a Column, the method `TextDrawable#onStateChange()` isn't triggered, which leads to incorrect text color rendering.
https://github.com/facebook/litho/blob/7706f4e1d6f35af374371e8b343151e59a333b19/litho-widget/src/main/java/com/facebook/litho/widget/TextDrawable.java#L97

[2018-03-12 16:09] passy commented on #324
@IanChilds Could this have to do with the new Column-as-Component implementation?

[2018-03-12 16:16] IanChilds commented on #324
It's plausible. Did this used to work?

[2018-03-22 08:53] jerboy opened #332 "About update state int recycler"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
0.12.0

## Issues and Steps to Reproduce
`the code below is an item of GroupSection`,when scroll away from this item, **updateCollectStatus** will not called.
[code]
[code]
## Expected Behavior
I expected `updateCollectStatus` will be called after 5 seconds, but not.

[2018-03-22 11:14] marco-cova commented on #332
Hi @jerboy, you're misusing the State APIs. You should not change `StateValues` params within `onCreateInitialState` over time. As the method name suggests, you should only initialize `StateValues` in there.
If you want to change state values at any point in time, after initialization, you should call the proper state update method. In your case that would be `YourComponent.updateCollectStatus(c,

[2018-03-22 13:32] astreet commented on #332
Additionally, we don't provide guarantees on when exactly `onCreateInitialState` (and `onCreateLayout`) is called: it would be better to trigger the runnable from a visibility event if possible.

[2018-03-22 15:13] jerboy commented on #332
@marco-cova I mean that I need to get data from remote server when `onCreateInitialState` is called, But if this component is in recycler and  I called `YourComponent .updateCollectStatus(ComponentContext c, boolean collected` , but ` updateCollectStatus(StateValue<Boolean> collected, @Param boolean collect)` is not called after the recyclerView has scroll a long distance away , So I guess this Co

[2018-03-23 08:06] #317 closed

[2018-03-23 08:06] ar-g commented on #317
Not related to litho

[2018-03-23 09:44] passy commented on #332
@jerboy This is generally not how you want to structure your application. Think of components as pure functions that transform props into a UI. You'll want to keep your server interaction entirely separate from your UI. When you have new data, set new props on your component or on your binder/DiffSection.

I'd recommend checking out the docs about Sections: https://fblitho.com/docs/sections-intro

[2018-03-25 14:26] narayanacharya6 commented on #89
Hey @pasqualeanatriello would like to pick this up if its up for grabs? PS: New guy here.

[2018-03-25 15:14] pasqualeanatriello commented on #89
Nayran feel free to go for it :)

On Sun, 25 Mar 2018, 15:26 Narayan Acharya, <notifications@github.com>
wrote:

[2018-03-26 07:10] vkalmath opened #333 "Updating the state in section is not updating the state of the view"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
lithoVersion = '0.11.0'
// Litho
    implementation "com.facebook.litho:litho-core:${lithoVersion}"
    implementation "com.facebook.litho:litho-widget:${lithoVersion}"
    compileOnly "com.facebook.litho:litho-annotations:${lithoVersion}"
    kapt "com.facebook.litho:litho-pro

[2018-03-26 10:02] #332 closed

[2018-03-27 08:41] IanChilds commented on #333
Can you log to see if the update state method is being called? Is the event being called?

[2018-03-27 18:46] vkalmath commented on #333
yes updateOrders is being called when the radio selection is changed...

[2018-03-27 18:59] pasqualeanatriello commented on #333
Your code seems to be mutating the state rather than creating a new state
value. State is supposed to be immutable and to change the selection state
you should create a new list with a new (immutable) object with the new
selection state. If you simply mutate the old state the diffing logic won't
be able to determine that something in your list changed.

On Tue, 27 Mar 2018, 20:47 Veeresh, <notific

[2018-03-27 19:08] vkalmath commented on #333
I've tried that also, still no luck.. Is there anything wrong with below code?
@OnUpdateState
    fun updateOrders(orders: StateValue<List<*>>,  @Param status: String?, @Param isCheckinEnabled: Boolean?, @Param index: Int) {
        if (status != null) {
            val orderList: List<ViewOrderResponse.Order> = orders.get() as List<ViewOrderResponse.Order>
            orderList[index].orderStatus

[2018-03-27 19:13] pasqualeanatriello commented on #333
You are still mutating the order object when you do
orderList[index].orderStatus = status.
Then you just copy the order that you just mutated into a new list.
You want to create a new list that contains a new (different) order object
for anything that needs to change.

On Tue, 27 Mar 2018, 21:08 Veeresh, <notifications@github.com> wrote:

[2018-03-27 21:18] vkalmath commented on #333
Thank you guys. You are amazing. That worked.
[code]

Is there a efficient way to handle this scenario. Creating a new list every time is expensive..
can I use code below which works, where only the changed item is created newly?

[code]

[2018-03-27 21:22] pasqualeanatriello commented on #333
Only recreating the object that changed is not only allowed but also
advisable as also diffing will be much more efficient. The only thing is
that in your sample code I still see you modifying the order in the
original list. You want to update the order status on the cloned object
rather than the original one

On Tue, 27 Mar 2018, 23:18 Veeresh, <notifications@github.com> wrote:

[2018-03-27 21:29] vkalmath commented on #333
Thank-you. That helped a lot.....

[2018-03-27 21:30] pasqualeanatriello commented on #333
Happy it helped :) let's close the issue?

On Tue, 27 Mar 2018, 23:29 Veeresh, <notifications@github.com> wrote:

[2018-03-27 21:31] #333 closed

[2018-03-28 02:59] jerboy opened #334 "Why @OnPrepare called twice ?"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
***0.13.1***

## Issues and Steps to Reproduce
***Method annotated by @OnPrepare called twice, not really true by `https://fblitho.com/docs/mount-specs`  ***

## Expected Behavior
***Only once!***

## Link to Code
[code]

[2018-03-28 08:06] IanChilds commented on #334
This depends upon how you are using your MountSpec. What is the calling code?

[2018-03-28 08:15] pasqualeanatriello commented on #334
There is a possibility of a layout happening more than once (say on two
different threads). You shouldn't assume that prepare gets called only
once. Only one of the two invocations should be part of a valid layout
computation though.

On Wed, 28 Mar 2018, 10:06 IanChilds, <notifications@github.com> wrote:

[2018-03-28 08:37] jerboy commented on #334
@IanChilds @pasqualeanatriello `https://github.com/jerboy/LithoTest` here is my code, just basic usage

[2018-03-28 08:38] IanChilds commented on #334
Hi @jerboy - please see @pasqualeanatriello's comment - there's no guarantee that it will only be called once.

[2018-03-28 08:38] #334 closed

[2018-03-28 08:39] jerboy commented on #334
@IanChilds but it said called once only by the document.

[2018-04-02 09:06] guiyichen opened #335 "why sBuilderPool not release???"
- [ ] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
***  implementation 'com.facebook.litho:litho-core:0.13.0'
    implementation 'com.facebook.litho:litho-widget:0.13.0'***

## Issues and Steps to Reproduce
***every component have sBuilderpool
private static final Pools.SynchronizedPool<Builder> sBuilderPool =
      new Pools.S

[2018-04-02 10:03] passy commented on #335
The release happens in the component's `release()` method:

https://github.com/facebook/litho/blob/469a41133c19d332e097d9cf073463fb90991b77/litho-it/src/test/resources/processor/SimpleLayout.java#L87

[2018-04-03 03:18] guiyichen commented on #335
but  initialize  was 2 ; and it's not release empty; when the component more and more ,it's stay at the memory ???

[2018-04-03 10:05] passy commented on #335
Sorry, I don't follow.

[2018-04-03 12:37] guiyichen commented on #335
Unscientific

[2018-04-03 15:02] #335 closed

[2018-04-03 15:08] passy opened #336 "Litho master is incompatible with latest yoga release"
Yoga introduced a backwards-incompatible change with https://github.com/facebook/litho/commit/ed0677696e620ef0df53a4a2a6b23e3caf8e24b1 which causes CI to fail and blocks us from cutting a release. We'd need to get a new Yoga release out to fix this.

[2018-04-04 01:36] guiyichen commented on #335
well ,I mean the sBuilderPool  was 2 , when release(this); why not clean the Object[]  ? and how clean the  Object[] ?

[2018-04-09 11:13] #336 closed

[2018-04-10 02:09] vinc3m1 opened #338 "pass View to LongClickableSpan for consistency"
Every other onClick or onLongClick event has a View pass in except this one, probably should for consistency? Is there a reason this doesn't? I can make a quick PR if not.

https://github.com/facebook/litho/blob/bd5bc73e7358df5768d25a10ab0b41c06a1ea22a/litho-widget/src/main/java/com/facebook/litho/widget/LongClickableSpan.java#L21

[2018-04-12 20:40] mehcode opened #341 "RippleDrawable"
- [x] I have searched [existing issues](https://github.com/facebook/litho/issues) and this is not a duplicate

## Version
[code]
[code]

## Issues and Steps to Reproduce
 - Set an unmasked `RippleDrawable` as the background of a clickable component.

## Expected Behavior

![native-view](https://user-images.githubusercontent.com/753919/38703025-002ccd68-3e57-11e8-95cf-53ae6d8398de.png)

## Actual B

[2018-04-16 10:04] muraziz commented on #341
TLDR; Unbounded ripple works only with `MountSpec`s

Basically the ability to draw outside the view bounds is kinda baked into the views. Drawing outside view bounds is possible only when view has background drawable AND drawable's `isProjected()` method is `true`. You can see that line here: http://androidxref.com/7.0.0_r1/xref/frameworks/base/core/java/android/view/View.java#13574. When view is

[2018-04-17 08:30] passy opened #343 "Transfer @Nullable annotation from @Prop to generated Component"
When marking a `@Prop` as `@Nullable`, the generated component should have the field and the parameter in the builder method also generated with `@Nullable`. This helps static analysis.

Point of contact: @passy

[2018-04-17 08:40] pavlospt commented on #343
I can take it if it is still free :)

[2018-04-17 08:50] pavlospt commented on #343
Update 1) From a quick look, I see that the annotation is transferred to the `Builder` 's method but not on the class field.

@passy I can update it to transfer it to the class field as well, if that is ok :)

[2018-04-17 09:09] passy commented on #343
@pavlospt Oh great! I didn't know we already did this for builders. Yeah, would be great if we could transfer them to the fields. :)